boto==2.49.0
boto3==1.7.65
botocore==1.10.65
certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.4.2
Django==2.0.3
django-crispy-forms==1.7.0
django-storages==1.6.6
docutils==0.14
gunicorn==19.7.1
heroku==0.1.4
html5lib==1.0b10
httplib2==0.11.3
idna==2.6
jmespath==0.9.3
Pillow==5.0.0
Pmw==2.0.0
preppy==2.6.0
psycopg2==2.7.3.1
psycopg2-binary==2.7.5
python-dateutil==2.7.3
python-decouple==3.1
pytz==2018.3
reportlab==3.4.0
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
static3==0.7.0
urllib3==1.22
webencodings==0.5.1
xhtml2pdf==0.2.1
