{% extends 'base.html' %}



{% block nav %}
    {% include 'house/nav.html' %}

{% endblock %}





{% block presentation %}
<div id="arriere" class="row">
   <div class="col-lg-12">

 <div id="recherche">
 	<div class="block_recherche">
		<h3 style="color: #ffffff ">Recherche par ville</h3>
		  {% csrf_token %}
		<input type="text" id="ville_search" name="ville_search"/>

		 <div id="ville_list" class="recherche"></div>
 	</div>
 	<div class="block_recherche">
		<h3 style="color: #ffffff">Recherche par quartier</h3>
		{% csrf_token %}
		<input type="text" id="quartier_search" name="quartier_search"/>
		<div id="quartier_list" class="recherche"></div>
 	</div>
</div>

</div>

</div>
{% endblock %}
<div class="container">

{% block content %}
<div id="conteneur">
{% for object in object_list %}

 	<div class="element">
 	<a href="{{ object.get_absolute_url }}" class="element-cover">	
 			{% if object.image %}
 			<!-- <img src="{{ object.image.url }}" class="im-responsive" style="width: 100% ; display: block ; margin: 0 ; max-height: 206px" /> -->
 			<div class="element_container">

 			<div class="media">
 				
 					<img src="{{ object.image.url }}">
 					<span class="prix">{{ object.prix }}&nbsp;Dhs</span>
 				
 			</div>
 			{% endif %}
 			<div class="panel-container">
 				<h3>
 					{{ object.ville }}
 				</h3>
 				{% if object.user.get_full_name %}
 					<p>Auteur : {{ object.user.get_full_name }}</p>
 				{% else %}
 					<p>Auteur : {{ object.user }}</p>
 				{% endif %}
 				<strong><p>{{ object.content|truncatechars:33 }}</p></strong>


 			</div>
 			

 				
 			</div>

		</a>
 	</div>

 {% endfor %}
</div>

 <div class="paginator">
 	<span class="step-links">
 		{% if object_list.has_previous %}
 		<a href="?{{ page_request_var }}={{ object_list.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
 		{% endif %}
 	    <span class="current">
 	    	Page {{ object_list.number}} of {{ object_list.paginator.num_pages }},
 	    </span>

 	    {% if object_list.has_next %}
 	    <a href="?{{ page_request_var }}={{ object_list.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
 	    {% endif %}
 	    </span>
 </div>



{% endblock %}
</div>
