{% load static %}

<link href="{% static 'images/images/jd_gurukul/favicon.png' %}" rel="shortcut icon" type="" />
<link href="{% static 'css/components/com_djevents/themes/bootstrap/css/theme.css' %}" rel="stylesheet" />

<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="http://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/components/rating.min.css" rel="stylesheet" />

<link href="{% static 'css/templates/system/css/system61fa.css' %}" rel="stylesheet" />
<link href="{% static 'css/templates/jd_gurukul/css/style-76772b19543e185cb8c9dd28168666f761fa.css' %}" rel="stylesheet" />
<link href="{% static 'css/media/astroid/assets/css/animate.min61fa.css' %}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Supermercado+One' %}" rel="stylesheet" />
<link href="{% static 'css/templates/jd_gurukul/css/astroid-85ec7770fd6cb519e54b998a3c36501b.css' %}" rel="stylesheet" />
<link href="{% static 'css/media/com_acym/css/module.min0758.css' %}" rel="stylesheet" />
<link href="{% static 'css/media/mod_jdtestimonials/css/style.css' %}" rel="stylesheet" />
<link href="{% static 'css/media/mod_jdtestimonials/css/slick.css' %}" rel="stylesheet" />
<link href="{% static 'css/media/mod_jdtestimonials/css/slick-theme.css' %}" rel="stylesheet" />
<link href="{% static 'css/media/mod_jd_skillset/css/mod_jd_skillset.css' %}" rel="stylesheet" />
<link href="{% static 'css/modules/mod_jdservices_showcase/assets/css/jdservices.css' %}" rel="stylesheet" />
<link href="{% static 'css/modules/mod_jdservices_showcase/assets/css/jdgrid.css' %}" rel="stylesheet" />
<link href="{% static 'css/media/mod_jdnewsticker/css/mod_jdnewsticker.css' %}" rel="stylesheet" />
<style>
#topbar-section-1101543823753523{color:rgb(255, 255, 255) !important; }#topbar-section-1101543823753523 a{color:rgb(255, 255, 255) !important; }#topbar-section-1101543823753523 a:hover{color:rgb(255, 255, 255) !important; }
#section-8-551544631049615{color:rgb(255, 255, 255) !important; }
#bottom-section-1529739293881{color:rgb(255, 255, 255) !important; }#bottom-section-1529739293881 a{color:rgb(255, 255, 255) !important; }#bottom-section-1529739293881 a:hover{color:rgb(255, 255, 255) !important; }
#footer-section-1528971627712{color:rgb(255, 255, 255) !important; }#footer-section-1528971627712 a{color:rgb(255, 255, 255) !important; }#footer-section-1528971627712 a:hover{color:rgb(245, 130, 32) !important; }
    </style>