    {% load i18n %}


<section id='section-8-551544631049615' class='astroid-section  py-4' style='background-color:rgb(245, 130, 32)' data-animation='' data-animation-delay=''>
    <div class='container'>
    <div id="astroid-row-1021544631049615" class="row astroid-row"><div id="astroid-column-251544631049615" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500"><div class="astroid-module-position" id="position-10-271544631049615" style="" data-animation="" data-animation-delay=""> <div class="moduletable ">
        <div class="custom">
        <div class="row align-items-center">
        <div class="col-lg-9 text-center text-lg-left">
        <h3 class="mb-0 text-white">Apply Letter for Admission to High School</h3>
        </div>
        <div class="col-lg-3 mt-4 mt-lg-0">
        <a href="index.php/admissions.html" class="btn btn-secondary btn-lg btn-block">Apply</a>
        </div>
        </div></div> </div>
        </div></div></div>
    </div>
</section>

<section id='bottom-section-1529739293881' class='astroid-section py-5 bottom-section' style='background-color:rgb(32, 44, 69)' data-animation='' data-animation-delay=''>
    <div class='container'><div id="astroid-row-1529739293881" class="row astroid-row"><div id="astroid-column-1529739293881" class="astroid-column col-md-6 col-lg-3  d-flex justify-content-lg-center" style="" data-animation="" data-animation-delay=""><div class="astroid-module-position" id="bottom-1-1529739297593" style="" data-animation="" data-animation-delay="500"> <div class="moduletable ">
        <h5 class="module-title">Get in touch</h5>
        <div class="custom">
        <div class="address">
        <div class="address-info d-flex mt-3">
        <div class="icon mr-2">
        <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="content">95 Faubourg Saint Honore Ile-de-France Paris-75019</div>
        </div>
        <div class="address-info d-flex mt-3">
        <div class="icon mr-2">
        <i class="fas fa-phone fa-rotate-90"></i>
        </div>
        <div class="content">+1 (916) 265-5904</div>
        </div>
        <div class="address-info d-flex mt-3">
        <div class="icon mr-2">
        <i class="fas fa-envelope"></i>
        </div>
        <div class="content"><a href="https://demo.joomdev.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6b02050d042b12041e1918021f0e45080406">[email&#160;protected]</a></div>
        </div>
        </div></div> </div>
        <ul class="nav navVerticalView astroid-social-icons">
        <li><a style="color:inherit;" href="#" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a></li><li><a style="color:inherit;" href="#" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a></li><li><a style="color:inherit;" href="#" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a></li><li><a style="color:inherit;" href="#" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a></li></ul></div></div><div id="astroid-column-1529739296224" class="astroid-column col-md-6 col-lg-3  d-flex justify-content-lg-center" style="" data-animation="" data-animation-delay=""><div class="astroid-module-position" id="bottom-2-1529739298792" style="" data-animation="" data-animation-delay="500"> <div class="moduletable ">
        <h5 class="module-title">Important Links</h5>
        <ul class="nav menu menu-module list-inline d-block">
        <li class="item-107"><a href="#">Awards</a></li><li class="item-108"><a href="index.php/school-life/gallery.html">Gallery</a></li><li class="item-109"><a href="#">PTA</a></li><li class="item-110"><a href="index.php/events.html">Events</a></li><li class="item-111"><a href="index.php/contact-us.html">Contact Us</a></li></ul> </div>
        </div></div><div id="astroid-column-1529739296224" class="astroid-column col-md-6 col-lg-3  d-flex justify-content-lg-center" style="" data-animation="" data-animation-delay=""><div class="astroid-module-position" id="bottom-3-1529739299698" style="" data-animation="" data-animation-delay="500"> <div class="moduletable ">
        <h5 class="module-title">Menu</h5>
        <ul class="nav menu menu-module list-inline d-block">
        <li class="item-102 parent"><a href="index.php/about.html">About</a></li><li class="item-104"><a href="index.php/our-programs.html">Our Programs</a></li><li class="item-106"><a href="index.php/news.html">News</a></li><li class="item-135 parent"><a href="index.php/pages/typography.html">Pages</a></li><li class="item-138 parent"><a href="index.php/school-life/gallery.html">School Life</a></li><li class="item-171 parent"><a href="index.php/facilities/labs/physics-lab.html">Facilities</a></li></ul> </div>
        </div></div><div id="astroid-column-1529739296224" class="astroid-column col-md-6 col-lg-3 d-flex justify-content-lg-center" style="" data-animation="" data-animation-delay=""><div class="astroid-module-position" id="bottom-4-1529739300697" style="" data-animation="" data-animation-delay="500"> <div class="moduletable ">
        <h5 class="module-title">Newsletter</h5>
        <script type="text/javascript">
                <!--
                
        acymModule['excludeValuesformAcym81971'] = [];
        acymModule['excludeValuesformAcym81971']['2'] = 'ACYM_EMAIL';
                //-->
                </script> <div class="acym_module" id="acym_module_formAcym81971">
        <div class="acym_fulldiv" id="acym_fulldiv_formAcym81971">
        <form id="formAcym81971" name="formAcym81971" method="POST" action="https://demo.joomdev.com/gurukul/toolbar/index.php/component/acym/?ctrl=frontusers&amp;tmpl=component" onsubmit="return submitAcymForm('subscribe','formAcym81971')">
        <div class="acym_module_form">
        <div class="acym_introtext"><p>Subscribe now to receive weekly updates.</p></div>
        <div class="acym_form">
        <p class="onefield fieldacy2" id="field_2"><input name="user[email]" placeholder="Email" value="" required type="email" class="cell" id="acym__user__edit__email"></p></div>
        <p class="acysubbuttons">
        <noscript>
            <div class="onefield fieldacycaptcha">
              Please enable the javascript to submit this form    </div>
          </noscript>
        <input type="button" class="btn btn-primary button subbutton" value="Subscribe" name="Submit" onclick="try{ return submitAcymForm('subscribe','formAcym81971'); }catch(err){alert('The form could not be submitted '+err);return false;}" />
        </p>
        </div>
        <input type="hidden" name="ctrl" value="frontusers" />
        <input type="hidden" name="task" value="notask" />
        <input type="hidden" name="option" value="com_acym" />
        <input type="hidden" name="ajax" value="1" /> <input type="hidden" name="acy_source" value="" />
        <input type="hidden" name="hiddenlists" value="1" />
        <input type="hidden" name="fields" value="name,email" />
        <input type="hidden" name="acyformname" value="formAcym81971" />
        </form>
        </div>
        </div> </div>
        </div></div></div>
    </div>
</section>


    <section id='footer-section-1528971627712' class='astroid-section astroid-footer-section py-2' style='background-color:rgb(41, 52, 76)' data-animation='' data-animation-delay=''>
      <div class='container'>
        <div id="astroid-row-601544081585236" class="row astroid-row">
          <div id="astroid-column-111544081585236" class="astroid-column col-md-8 col-lg-8" style="" data-animation="" data-animation-delay="">
            <div class="astroid-module-position" id="footer-1-861544081590371" style="" data-animation="" data-animation-delay="">
              <div id="astroid-footer" class="astroid-footer">&copy;  ECF Saint-Exupéry Marrakech. &middot; <a href="#">CNED ECF Saint-Exupéry</a> &middot; 
                {% now "Y" as current_year %}
                {% blocktrans %}Copyright 2018-{{ current_year }}{% endblocktrans %}
              </div> 
            </div>
          </div>
          <div id="astroid-column-671547452782180" class="astroid-column col-md-4 col-lg-4" style="" data-animation="" data-animation-delay="">
            <div class="astroid-module-position" id="footer-2-921547452783925" style="" data-animation="" data-animation-delay=""> 
              <div class="moduletable  float-lg-right">
                <ul class="nav menu menu-module navVerticalView ">
                  <li class="item-210">
                    <a href="#">Terms &amp; Conditions</a>
                  </li>
                  <li class="item-211">
                    <a href="#">Politique de droit</a>
                  </li>
                </ul> 
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>