    {% load i18n %}


<section id='section-8-551544631049615' class='astroid-section  py-4' style='background-color:rgb(245, 130, 32)' data-animation='' data-animation-delay=''>
    <div class='container'>
    <div id="astroid-row-1021544631049615" class="row astroid-row"><div id="astroid-column-251544631049615" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500"><div class="astroid-module-position" id="position-10-271544631049615" style="" data-animation="" data-animation-delay=""> <div class="moduletable ">
        <div class="custom">
        <div class="row align-items-center">
        <div class="col-lg-9 text-center text-lg-left">
        <h3 class="mb-0 text-white">Inscrivez-vous</h3>
        </div>
        <div class="col-lg-3 mt-4 mt-lg-0">
        <a href="{% url 'inscriptions:inscription' %}" class="btn btn-secondary btn-lg btn-block">Inscription</a>
        </div>
        </div></div> </div>
        </div></div></div>
    </div>
</section>

<section id='bottom-section-1529739293881' class='astroid-section py-5 bottom-section' style='background-color:rgb(32, 44, 69)' data-animation='' data-animation-delay=''>

    <div class='container'>
        <div id="astroid-row-1529739293881" class="row astroid-row" style="justify-content: center;" >
            <div id="astroid-row-1529739293881" class="astroid-row c-flex justify-content-lg-center" style="" data-animation="" data-animation-delay="">
                <div class="astroid-module-position" id="bottom-1-1529739297593" style="" data-animation="" data-animation-delay="500">
                        <h1 class="module-title" style="justify-content: center; text-align: center; vertical-align: middle; font-size: -webkit-xxx-large;">Nous Contacter </h1>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xm-12" style="padding-right: 20%">
                            
                    <div class="moduletable">
                        <div class="custom">
                            <div class="address">

                                <div class="address-info d-flex mt-3">
                                    <div class="icon mr-2">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="content">Avenue Abou Oubaida - Daoudiate 40 000 Marrakech</div>
                                </div>


                                <div class="address-info d-flex mt-3">
                                    <div class="icon mr-2">
                                    <i class="fas fa-phone fa-rotate-90"></i>
                                    </div>
                                    <div class="content">+212 05 24 30 47 98</div><hr><div class="content"> +212 05 26 60 96 78</div>

                                </div>

                                <div class="address-info d-flex mt-3">
                                    <div class="icon mr-2">
                                    <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="content">
                                        <a href="" class="__cf_email__" data-cfemail="">ecfsaintexupery@gmail.com</a>
                                    </div>
                                </div>

                            </div>


                        </div> 


                    </div>
                        </div>


                    <div class="col-md-6 col-lg-6 col-sm-12 col-xm-12" style="padding-left: 20%">


                    <ul class="nav navVerticalView astroid-social-icons">
                        <li>
                            <a style="color:inherit;" href="https://www.facebook.com/ecf.saintexupery/" target="_blank" rel="noopener"><i class="fab fa-facebook-f" style="font-size: -webkit-xxx-large; background-color: unset; border: unset; margin-right: 24px"></i></a>
                        </li>
                        <li>
                            <a style="color:inherit;" href="https://www.instagram.com/ecf.saintex/" target="_blank" rel="noopener"><i  class="fab fa-instagram" style="font-size: -webkit-xxx-large; background-color: unset; border: unset; margin-left: 24px"></i></a>
                        </li>
                    </ul>

                    </div>


                </div>


                </div>
            </div>
        </div>
    </div>
    
</section>


<section id='footer-section-1528971627712' class='astroid-section astroid-footer-section py-2' style='background-color:rgb(41, 52, 76)' data-animation='' data-animation-delay=''>
    <div class='container'>
        <div id="astroid-row-601544081585236" class="row astroid-row">
          <div id="astroid-column-111544081585236" class="astroid-column col-md-8 col-lg-8" style="" data-animation="" data-animation-delay="">
                <div class="astroid-module-position" id="footer-1-861544081590371" style="" data-animation="" data-animation-delay="">
                      <div id="astroid-footer" class="astroid-footer">&copy;  ECF Saint-Exupéry. &middot; <a href="{% url 'home' %}">CNED Marrakech</a> &middot; 
                        {% now "Y" as current_year %}
                        {% blocktrans %}Copyright 2015-{{ current_year }}{% endblocktrans %}
                      </div> 
                </div>
          </div>
        </div>
    </div>
</section>