{% load static %}


<div class="astroid-mobilemenu d-none d-init" data-class-prefix="astroid-mobilemenu" id="astroid-mobilemenu">
    <div class="burger-menu-button active">
        <button type="button" class="button close-offcanvas offcanvas-close-btn">
            <span class="box">
                <span class="inner"></span>
            </span>
        </button>
    </div>
    <ul class="astroid-mobile-menu d-none">
        <li class="nav-item nav-item-id-102 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
            <a href="index.php/about.html" title="About" class=" nav-link item-link-component item-level-1" data-drop-action="hover">
                <span class="nav-title">
                     About 
                 </span>
            </a>

            <ul class="nav-child list-group navbar-subnav level-1">
                <li class="nav-item-submenu nav-item-id-128 nav-item-level-2">
                    <a href="index.php/about/bell-schedule.html" title="Bell Schedule" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
                        <span class="nav-title">
                            Bell Schedule 
                        </span>
                    </a>

                </li>
                <li class="nav-item-submenu nav-item-id-105 nav-item-level-2">
                    <a href="index.php/about/faculties.html" title="Faculties" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
                        <span class="nav-title">
                        Faculties </span>
                    </a>

                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-id-104 nav-item-level-1">
            <a href="index.php/our-programs.html" title="Our Programs" class=" nav-link item-link-component item-level-1" data-drop-action="hover">
                <span class="nav-title">
                Our Programs </span>
            </a>

        </li>
        <li class="nav-item nav-item-id-106 nav-item-level-1">
            <a href="index.php/news.html" title="News" class=" nav-link item-link-component item-level-1" data-drop-action="hover">
                <span class="nav-title">
                News </span>
            </a>

        </li>
        <li class="nav-item nav-item-id-135 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
            <a href="index.php/pages/typography.html" title="Pages" class=" nav-link item-link-alias item-level-1" data-drop-action="hover">
                <span class="nav-title">
                Pages </span>
            </a>

            <ul class="nav-child list-group navbar-subnav level-1">
                <li class="nav-item-submenu nav-item-id-136 nav-item-level-2">
                <a href="index.php/pages/typography.html" title="Typography" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
                <span class="nav-title">
                Typography </span>
                </a>

                </li><li class="nav-item-submenu nav-item-id-142 nav-item-level-2">
                <a href="index.php/pages/register-login.html" title="Register / Login" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
                <span class="nav-title">
                Register / Login </span>
                </a>

                </li><li class="nav-item-submenu nav-item-id-168 nav-item-level-2">
                <a href="index.php/pages/faq.html" title="FAQ" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
                <span class="nav-title">
                FAQ </span>
                </a>

                </li><li class="nav-item-submenu nav-item-id-236 nav-item-level-2">
                <a href="index.php/pages/error-page.html" title="Error Page" class=" nav-link item-link-component item-level-2" target="_blank" rel="noopener noreferrer" data-drop-action="hover">
                <span class="nav-title">
                Error Page </span>
                </a>

                </li><li class="nav-item-submenu nav-item-id-237 nav-item-level-2">
                <a href="index.php/pages/coming-soon.html" title="Coming Soon" class=" nav-link item-link-component item-level-2" target="_blank" rel="noopener noreferrer" data-drop-action="hover">
                <span class="nav-title">
                Coming Soon </span>
                </a>

                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-id-138 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
            <a href="index.php/school-life/gallery.html" title="School Life" class=" nav-link item-link-alias item-level-1" data-drop-action="hover">
                <span class="nav-title">
                School Life </span>
            </a>

            <ul class="nav-child list-group navbar-subnav level-1">
                <li class="nav-item-submenu nav-item-id-132 nav-item-level-2">
            <a href="index.php/school-life/gallery.html" title="Gallery" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
            <span class="nav-title">
            Gallery </span>
            </a>

            </li><li class="nav-item-submenu nav-item-id-140 nav-item-level-2">
            <a href="index.php/school-life/houses.html" title="Houses" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
            <span class="nav-title">
            Houses </span>
            </a>

            </li><li class="nav-item-submenu nav-item-id-137 nav-item-level-2">
            <a href="index.php/school-life/activities-calendar.html" title="Activities Calendar" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
            <span class="nav-title">
            Activities Calendar </span>
            </a>

            </li><li class="nav-item-submenu nav-item-id-141 nav-item-level-2">
            <a href="index.php/school-life/uniforms.html" title="Uniforms" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
            <span class="nav-title">
            Uniforms </span>
            </a>

            </li>
            </ul>
        </li>
        <li class="nav-item nav-item-id-171 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-megamenu">
            <a href="index.php/facilities/labs/physics-lab.html" title="Facilities" class=" nav-link item-link-alias item-level-1" data-drop-action="hover">
                <span class="nav-title">
                Facilities </span>
            </a>

            <ul class="nav-child list-group navbar-subnav level-1">
                <li class="nav-item-submenu nav-item-id-172 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">
                    <a href="javascript:void(0);" title="Labs" class=" nav-link item-link-heading item-level-2" data-drop-action="hover">
                        <span class="nav-title">
                        <i class="fas fa-flask"></i>
                        Labs </span>
                    </a>

                    <ul class="nav-child list-group navbar-subnav level-2">
                        <li class="nav-item-submenu nav-item-id-175 nav-item-level-3 nav-item-parent nav-item-megamenu">
                            <a href="index.php/facilities/labs/physics-lab.html" title="Physics Lab" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                <span class="nav-title">
                                <i class="fas fa-luggage-cart"></i>
                                Physics Lab </span>
                            </a>

                        </li>
                        <li class="nav-item-submenu nav-item-id-176 nav-item-level-3 nav-item-parent nav-item-megamenu">
                        <a href="index.php/facilities/labs/chemistry-lab.html" title="Chemistry Lab" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                        <span class="nav-title">
                        <i class="fas fa-flask"></i>
                        Chemistry Lab </span>
                        </a>

                        </li><li class="nav-item-submenu nav-item-id-177 nav-item-level-3 nav-item-parent nav-item-megamenu">
                        <a href="index.php/facilities/labs/biology-lab.html" title="Biology Lab" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                        <span class="nav-title">
                        <i class="fas fa-atom"></i>
                        Biology Lab </span>
                        </a>

                        </li><li class="nav-item-submenu nav-item-id-178 nav-item-level-3 nav-item-parent nav-item-megamenu">
                        <a href="index.php/facilities/labs/computer-lab.html" title="Computer Lab" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                        <span class="nav-title">
                        <i class="fas fa-desktop"></i>
                        Computer Lab </span>
                        </a>

                        </li>
                    </ul>
                </li>
                <li class="nav-item-submenu nav-item-id-173 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">
                    <a href="javascript:void(0);" title="Rooms" class=" nav-link item-link-heading item-level-2" data-drop-action="hover">
                        <span class="nav-title">
                        <i class="fas fa-columns"></i>
                        Rooms </span>
                    </a>

                    <ul class="nav-child list-group navbar-subnav level-2">
                        <li class="nav-item-submenu nav-item-id-179 nav-item-level-3 nav-item-parent nav-item-megamenu">
                            <a href="index.php/facilities/rooms/music-room.html" title="Music Room" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                            <span class="nav-title">
                            <i class="fas fa-music"></i>
                            Music Room </span>
                            </a>

                        </li>
                        <li class="nav-item-submenu nav-item-id-180 nav-item-level-3 nav-item-parent nav-item-megamenu">
                            <a href="index.php/facilities/rooms/dance-room.html" title="Dance Room" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                <span class="nav-title">
                                <i class="fas fa-street-view"></i>
                                Dance Room </span>
                            </a>

                        </li>
                        <li class="nav-item-submenu nav-item-id-182 nav-item-level-3 nav-item-parent nav-item-megamenu">
                            <a href="index.php/facilities/rooms/smart-class-room.html" title="Smart Class Room" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                <span class="nav-title">
                                <i class="fas fa-tablet-alt"></i>
                                Smart Class Room </span>
                            </a>

                        </li>
                        <li class="nav-item-submenu nav-item-id-181 nav-item-level-3 nav-item-parent nav-item-megamenu">
                            <a href="index.php/facilities/rooms/sports-room.html" title="Sports Room" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                <span class="nav-title">
                                <i class="fas fa-futbol"></i>
                                Sports Room </span>
                            </a>

                        </li>
                        <li class="nav-item-submenu nav-item-id-183 nav-item-level-3 nav-item-parent nav-item-megamenu">
                            <a href="index.php/facilities/rooms/art-craft-room.html" title="Art &amp; Craft Room" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                <span class="nav-title">
                                <i class="fas fa-cut"></i>
                                Art &amp; Craft Room </span>
                            </a>

                        </li>
                    </ul>
                </li>
                <li class="nav-item-submenu nav-item-id-174 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">
                    <a href="javascript:void(0);" title="Extra Facilities" class=" nav-link item-link-heading item-level-2" data-drop-action="hover">
                        <span class="nav-title">
                        <i class="fas fa-hiking"></i>
                        Extra Facilities </span>
                    </a>

                    <ul class="nav-child list-group navbar-subnav level-2">
                        <li class="nav-item-submenu nav-item-id-184 nav-item-level-3 nav-item-parent nav-item-megamenu">
                            <a href="index.php/facilities/extra-facilities/swimming-pool.html" title="Swimming Pool" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                <span class="nav-title">
                                <i class="fas fa-swimmer"></i>
                                Swimming Pool </span>
                            </a>

                        </li>
                        <li class="nav-item-submenu nav-item-id-185 nav-item-level-3 nav-item-parent nav-item-megamenu">
                            <a href="index.php/facilities/extra-facilities/library.html" title="Library" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                <span class="nav-title">
                                <i class="fas fa-book-reader"></i>
                                Library </span>
                            </a>

                        </li>
                        <li class="nav-item-submenu nav-item-id-186 nav-item-level-3 nav-item-parent nav-item-megamenu">
                            <a href="index.php/facilities/extra-facilities/fitness-center.html" title="Fitness Center" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                <span class="nav-title">
                                <i class="fas fa-dumbbell"></i>
                                Fitness Center </span>
                            </a>

                        </li>
                        <li class="nav-item-submenu nav-item-id-125 nav-item-level-3 nav-item-parent nav-item-megamenu">
                            <a href="index.php/facilities/extra-facilities/transportation.html" title="Transportation" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                <span class="nav-title">
                                <i class="fas fa-bus"></i>
                                Transportation </span>
                            </a>

                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>