{% extends "base_.html" %}


{% load static %}

{% block content %}
{% static 'images/images/slider/img-2.jpg' as image_url %}

{% static 'pdf/calendreir_vacances_scolaires_2019_2020.pdf' as pdf_calender_url %}




{% include "base/entete.html" with title=title lien=lien image=image_url %}


<section id='content-section-1528971561366' class='astroid-section astroid-component-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1528971561366" class="row astroid-row">
			<div id="astroid-column-1528971561366" class="astroid-column col-lg-9" style="" data-animation="" data-animation-delay="">
				<div class="astroid-message" id="messages-1528971711775" style="" data-animation="" data-animation-delay="">
					<div id="system-message-container">
					</div>
				</div>
				<div class="astroid-component" id="component-area-1529739248826" style="" data-animation="" data-animation-delay="">
					<div class="astroid-component-area">
						<div class="item-page  blog-view" itemscope itemtype="https://schema.org/Article">
							<meta itemprop="inLanguage" content="fr-FR" />
							<div class="item-title">
								<h2 itemprop="headline">
									Calendrier de l'année scolaire 2019-2020
								</h2>
							</div>


							<div itemprop="articleBody">
								<h4 class="mb-3 mt-5" style="text-align: center;">Calendrier</h4>
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr style="text-align: center;">
												<th scope="col">Périodes</th>
												<th scope="col">Descriptions</th>
											</tr>
										</thead>
										<tbody style="color: black; font-weight: 300;">
											<tr>
												<td>Ouverture des établisements</td>
												<td>Une note de service précisera les dates de la présence au poste des personnels administratifs et de direction</td>

											</tr>
											<tr>
												<td>Pré rentrée des enseignants</td>
												<td>lundi 02 septembre 2019</td>
											</tr>
											<tr>
												<td>Rentrée des élèves</td>
												<td>Mardi 03 Septembre 2019</td>

											</tr>
											<tr>
												<td>Vacances d'automne</td>
												<td>Du samedi 19 octombre 2019 apès les cours au lundi 04 novebre 2019 au matin</td>

											</tr>
											<tr>
												<td>Vacances de Noël</td>
												<td>Du samedi 21 decembre 2019 après les cours au lindi 06 janvier 2020 au matin</td>

											</tr>
											<tr>
												<td>Vacances d'hiver</td>
												<td>Du samedi 15 fevrier 2020 après les cours a lundi 02 mars 2020 au matin</td>

											</tr>


											<tr>
												<td>Vacances de printemps</td>
												<td>Du samedi 18 avril 2020 après les cours a lundi 04 main 2020 au matin</td>

											</tr>


											<tr>
												<td></td>
												<td>Fin des cours-Tous niveaux d'enseignement <br> Vendredi 03 juillet 2020 après la casse
												</td>

											</tr>
										</tbody>
									</table>

									<div style="    font-weight: 700;color: black;">
										<p class="center">
											<strong>N.B :</strong> Les enseignants appelés à participer aux jurys des examens sont en poste jusqu'à la date determinée chaque année par le Cocac-adjoint
										</p>
										<p>
											Année 2020 / 2021 : Pré rentrée des enseignants: à définir <br>
											rentrée des élèves: à définir
										</p>
									</div>


								</div> 
							</div>





							<div itemprop="articleBody">
								<h4 class="mb-3 mt-5" style="text-align: center;">Jours fériés</h4>
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr style="text-align: center;">
												<th scope="col">Fêtes ou évènements</th>
												<th scope="col">Dates</th>
											</tr>
										</thead>
										<tbody style="color: black; font-weight: 300;">
											<tr>
												<td>Toussaint**</td>
												<td>Vendredi 1er novembre 2019</td>

											</tr>
											<tr>
												<td>Marche Verte</td>
												<td>Mercredi 6 novembre 2019</td>
											</tr>
											<tr>
												<td>Fête du Mouloud /Aïd Mawlid*</td>
												<td>Vers le Dimanche 10 et le lundi 11 nomvembre 2019</td>

											</tr>
											<tr>
												<td>Fête de l'indépendance</td>
												<td>Lundi 18 novembre 2019</td>

											</tr>
											<tr>
												<td>Manifestation de l'indépendance</td>
												<td>Samedi 11 janvier 2020</td>

											</tr>
											<tr>
												<td>Lundi de Pâque</td>
												<td>12 Avril 2020</td>

											</tr>


											<tr>
												<td>Fête du travail</td>
												<td>1er mai 2020</td>

											</tr>


											<tr>
												<td>Aïd El Fitr / Aïd El Serghir*</td>
												<td>Vers lundi 25 et le mardi 26 mai 2020
												</td>

											</tr>
										</tbody>
									</table>

									<div style="    font-weight: 700;color: black;">
										<p class="center">
											<strong>* Jour férié mobile <br>
												**Inclus dans les congés scolaires
											</strong> 
										</p>
									</div>


								</div> 
							</div>




						</div>
					</div>
				</div>
			</div>
			<div id="astroid-column-1530100662663" class="astroid-column col-lg-3" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position sidebar-right" id="right-921547012999688" style="" data-animation="" data-animation-delay="">
					<div class="moduletable ">
						<h4 class="module-title p-0 mb-3">Retrouvez le document en PDF</h4>
						<a href="{{ pdf_calender_url }}" target="_blank">Télécharger le PDF</a> 
					</div>

				</div>
			</div>

		</div>
	</div>
</section>


{% endblock content %}