

{% load static martortags %}



<section id='content-section-1528971561366' class='astroid-section astroid-component-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1528971561366" class="row astroid-row">
			<div id="astroid-column-1528971561366" class="astroid-column col-lg-9" style="" data-animation="" data-animation-delay="">
				<div class="astroid-message" id="messages-1528971711775" style="" data-animation="" data-animation-delay="">
					<div id="system-message-container">
					</div>
				</div>

				<div class="astroid-component" id="component-area-1529739248826" style="" data-animation="" data-animation-delay="">
					<div class="astroid-component-area">
						<div class="item-page  blog-view" itemscope itemtype="#">
							<meta itemprop="inLanguage" content="fr-FR" />
							<div class="item-title">
								<h2 itemprop="headline">
									{{ instance.titre }}
								</h2>
							</div>



							<div itemprop="articleBody">

								<!-- <h4 class="mb-3 mt-5" style="text-align: center;">Calendrier</h4> -->
								<div class="table-responsive">
									<table class="table">

										{{ instance.description|safe_markdown }}
									</table>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div id="astroid-column-1530100662663" class="astroid-column col-lg-3" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position sidebar-right" id="right-921547012999688" style="" data-animation="" data-animation-delay="">
					<div class="moduletable ">
						<h4 class="module-title p-0 mb-3">Retrouvez le document en PDF</h4>
						<a href="{{ instance.doc_pdf.url }}" target="_blank">Télécharger le PDF</a> 
					</div>
					<div class="moduletable ">
						<h4 class="module-title p-0 mb-3"><a href="https://www.facebook.com/ecf.saintexupery/" target="_blanck"> Suivez-nous sur Facebook! </a> </h4>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>
