{% extends "base.html" %}
{% load static %}




{% block content %}
<div class="container">
	<h1>L'équipe pédagogique de l'école</h1>
	<div class="row">

		<div class="col col-5 col-xs-12 col-sm-5 col-md-5 col-lg-5">
			<div>
				<img src="{% static 'images/equipe_pedagogique/imagegroupe.jpg' %}" width="100%">
			</div>
		</div>

		<div class="col col-7 col-xs-7 col-sm-7 col-md-7 col-lg-7">
			<div>
				<h3>Ici se présente notre équipe pédagogique</h3>
			</div>
		</div>


	</div>


</div>


{% endblock content %}