{% extends "base_.html" %}
{% load static %}
{% block content %}



{% static 'images/images/slider/img-2.jpg' as image_url %}

{% include "base/entete.html" with title="Le programme" lien="Programme" image=image_url %}

<section id='content-section-1528971561366' class='astroid-section astroid-component-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1528971561366" class="row astroid-row">
			<div id="astroid-column-1528971561366" class="astroid-column col-lg-9" style="" data-animation="" data-animation-delay="">
				<div class="astroid-message" id="messages-1528971711775" style="" data-animation="" data-animation-delay="">
					<div id="system-message-container">
					</div>
				</div>
				<div class="astroid-component" id="component-area-1529739248826" style="" data-animation="" data-animation-delay="">
					<div class="astroid-component-area">
						<div class="item-page  blog-view" itemscope itemtype="https://schema.org/Article">
							<meta itemprop="inLanguage" content="fr-FR" />
							<div class="item-title">
								<h2 itemprop="headline">
									Programme annuel 
								</h2>
							</div>
							<div itemprop="articleBody">
								<p>Notre programme annuel</p>
								<h4 class="mb-3 mt-5">Du 6 Septembre 2019 au 4 juin 2020</h4>
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Période</th>
												<th scope="col">Description</th>
												<th scope="col">Temps</th>
												<th scope="col">Minutes</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Period 1</td>
												<td>1st Block</td>
												<td>8:00 – 9:05 AM</td>
												<td>65</td>
											</tr>
											<tr>
												<td>Period 2</td>
												<td>2nd Block</td>
												<td>9:30 – 10:15 AM</td>
												<td>65</td>
											</tr>
											<tr>
												<td>Period 3</td>
												<td>Lunch/Elective</td>
												<td>10:20 – 11:05 AM</td>
												<td>45</td>
											</tr>
											<tr>
												<td>Period 4</td>
												<td>Lunch/Elective</td>
												<td>11:10 – 11:55 AM</td>
												<td>45</td>
											</tr>
											<tr>
												<td>Period 5</td>
												<td>3rd Block</td>
												<td>12:00 – 1:05 PM</td>
												<td>65</td>
											</tr>
											<tr>
												<td>Period 6</td>
												<td>4th Block</td>
												<td>1:10 – 2:15 PM</td>
												<td>65</td>
											</tr>
										</tbody>
									</table>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="astroid-column-1530100662663" class="astroid-column col-lg-3" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position sidebar-right" id="right-921547012999688" style="" data-animation="" data-animation-delay="">
					<div class="moduletable ">
						<h4 class="module-title p-0 mb-3">Suivez-nous sur Facebook!</h4>
						<div id="fb-root"></div>
						<script>(function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = 'https://www.facebook.com/ecf.saintexupery/';
							fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
						</script>
						<div class="dj-likebox">
							<div class="fb-page" data-href="https://www.facebook.com/ecf.saintexupery/" data-tabs="events" data-hide-cover="false" data-show-facepile="true" data-hide-cta="false" data-small-header="false" data-adapt-container-width="true">
							</div>
						</div> 
					</div>

				</div>
			</div>

		</div>
	</div>
</section>


{% endblock content %}
