{% extends "base_.html" %}

{% load static %}





{% block content %}
	{% if instance.image %}

    {% include "presentation/snippets/proto_.html" with instance=instance title=instance.titre lien="Équipe pédagogique" image_url=instance.image.url %}

    {% else %}

	{% static 'images/images/slider/img-3.jpg' as image_import %}
    {% include "presentation/snippets/proto_.html" with instance=instance title=instance.titre lien="Équipe pédagogique" image_url=image_import %}


    {% endif %}

{% endblock content %}