

{% extends "base_.html" %}
{% load static %}


{% block content %}

{% static 'images/images/slider/img-2.jpg' as image_url %}

{% include "base/entete.html" with title="Équipe pédagogique" lien="équipe pédagogique" image=image_url %}

<section id='section-2-1529739392758' class='astroid-section section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1529739392758" class="row astroid-row">
			<div id="astroid-column-1529739392758" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-2-1529739392758" style="" data-animation="" data-animation-delay="500"> 
					<div class="moduletable ">
						<h3 class="module-title">Administration</h3>
						<div class="jd-profiler-wrapper jd-grid-layout-view jd-grid-simple-layout">
							<div class="row ">

								<div class="jd-team-columns col-12 col-md-6 col-lg-4">
									<div class="card-team jd-team-items">
										<img src="{% static 'images/images/teachers/img4.jpg' %}" alt="Ronin" class="card-img-top team-mamber-image">
										<div class="card-team-body">
											<div class="team-member-content-wrapper">
												<h5 class="card-img-overlayteam-member-name">
												Ronin </h5>
												<span class="team-member-designation">
												Chairman </span>
												<span class="member-email"><a href="#" class="__cf_email__" data-cfemail="e28b8c848da2858f838b8ecc818d8f">[email&#160;protected]</a></span>
												<span class="member-phone"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="jd-team-columns col-12 col-md-6 col-lg-4">
									<div class="card-team jd-team-items">
										<img src="{% static 'images/images/teachers/img-8.jpg' %}" alt="Willi Juk" class="card-img-top team-mamber-image">
										<div class="card-team-body">
											<div class="team-member-content-wrapper">
												<h5 class="card-img-overlayteam-member-name">
												Willi Juk </h5>
												<span class="team-member-designation">
												Principal </span>
												<span class="member-email"><a href="#" class="__cf_email__" data-cfemail="e78e898188a7808a868e8bc984888a">[email&#160;protected]</a></span>
												<span class="member-phone"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="jd-team-columns col-12 col-md-6 col-lg-4">
									<div class="card-team jd-team-items">
										<img src="{% static 'images/images/teachers/img-6.jpg' %}" alt="Mark Thomas" class="card-img-top team-mamber-image">
										<div class="card-team-body">
											<div class="team-member-content-wrapper">
												<h5 class="card-img-overlayteam-member-name">
												Mark Thomas </h5>
												<span class="team-member-designation">
												Assistant Principal </span>
												<span class="member-email"><a href="#" class="__cf_email__" data-cfemail="4900272f26092e24282025672a2624">[email&#160;protected]</a></span>
												<span class="member-phone"></span>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</div>
</section>
<section id='section-3-1529739392463' class='astroid-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1529739392463" class="row astroid-row">
			<div id="astroid-column-1529739392463" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-3-1529739392463" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<h3 class="module-title">Professeurs</h3>
						<div class="jd-profiler-wrapper jd-table-layout-view jd-table-simple-layout">
							<div class="row ">

								<div class="jd-team-table col-12">
									<table class="table table-striped">
										<tbody>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img-10.jpg' %}" alt="Alma R. Garcia">
												</th>
												<td class="team-member-name">
													<span class="name">
													Alma R. Garcia </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> English Teacher
												</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="90f9fef6ffd0f7fdf1f9fcbef3fffd">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img4.jpg' %}" alt="Alexander A. Avery">
												</th>
												<td class="team-member-name">
													<span class="name">
													Alexander A. Avery </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Librarian</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="640d0a020b240309050d084a070b09">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img-9.jpg' %}" alt="Nancy R. Green">
												</th>
												<td class="team-member-name">
													<span class="name">
													Nancy R. Green </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Mathematics Teacher
												</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="7910171f16391e14181015571a1614">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img-7.jpg' %}" alt="Kate J. Hogue">
												</th>
												<td class="team-member-name">
													<span class="name">
													Kate J. Hogue </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Biology Teacher
												</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="97fef9f1f8d7f0faf6fefbb9f4f8fa">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img-10.jpg' %}" alt="Deborah J. Noggle">
												</th>
												<td class="team-member-name">
													<span class="name">
													Deborah J. Noggle </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Physics Teacher
												</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="98f1f6fef7d8fff5f9f1f4b6fbf7f5">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img3.jpg' %}" alt="Christopher">
												</th>
												<td class="team-member-name">
													<span class="name">
													Christopher </span>
												</td>
												<td class="team-member-designation"><i class="fas fa-stamp"></i> Mathematics Teacher</td>
												<td class="team-member-address"><i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="6e070008012e09030f0702400d0103">[email&#160;protected]</a> </td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img4.jpg' %}" alt="Jeanny harney">
												 </th>
												<td class="team-member-name">
													<span class="name">
													Jeanny harney </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> English Teacher
												</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="8ee7e0e8e1cee9e3efe7e2a0ede1e3">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img-5.jpg' %}" alt="Andy joe">
												</th>
												<td class="team-member-name">
													<span class="name">
													Andy joe </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Librarian
												</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="a1c8cfc7cee1c6ccc0c8cd8fc2cecc">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img3.jpg' %}" alt="Wiliam Thomas">
												</th>
												<td class="team-member-name">
													<span class="name">
													Wiliam Thomas </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Art Teacher
												</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="2f464149406f48424e4643014c4042">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img4.jpg' %}" alt="Robin Sommers">
												</th>
												<td class="team-member-name">
													<span class="name">
													Robin Sommers </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Social Studies Teacher
												</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="234a4d454c63444e424a4f0d404c4e">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img-5.jpg' %}" alt="Mari Nieves">
												</th>
												<td class="team-member-name">
													<span class="name">
													Mari Nieves </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Chemistry Teacher
												</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="abc2c5cdc4ebccc6cac2c785c8c4c6">[email&#160;protected]</a> 
												</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id='content-section-1528971561366' class='astroid-section astroid-component-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1528971561366" class="row astroid-row">
			<div id="astroid-column-1528971561366" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="">
				<div class="astroid-message" id="messages-1528971711775" style="" data-animation="" data-animation-delay="">
					<div id="system-message-container">
					</div>
				</div>
				<div class="astroid-component" id="component-area-1529739248826" style="" data-animation="" data-animation-delay="">
					<div class="astroid-component-area">
						<div class="item-pagehide-component-area-spacing" itemscope itemtype="https://schema.org/Article">
							<meta itemprop="inLanguage" content="en-GB" />
							<div itemprop="articleBody">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id='section-6-141539181465905' class='astroid-section section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-271539181465905" class="row astroid-row">
			<div id="astroid-column-631539181465905" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-6-1061544170263850" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<h3 class="module-title">Staff sportif</h3>
						<div class="jd-profiler-wrapper jd-table-layout-view jd-table-simple-layout">
							<div class="row ">

								<div class="jd-team-table col-12">
									<table class="table table-striped">
										<tbody>
											<tr>
												<th scope="team-mamber-image-wrapper">
												<img src="{% static 'images/images/teachers/img3.jpg' %}" alt="Robert H. Driscoll">
												</th>
												<td class="team-member-name">
													<span class="name">
													Robert H. Driscoll </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Organiser</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="b5dcdbd3daf5d2d8d4dcd99bd6dad8">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img2.jpg' %}" alt="Viola J. Martin">
												</th>
												<td class="team-member-name">
													<span class="name">
													Viola J. Martin </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Director</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="ee87808881ae89838f8782c08d8183">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img4.jpg' %}" alt="James K. Sickles">
												</th>
												<td class="team-member-name">
													<span class="name">
													James K. Sickles </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Exam Advisor</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="#" class="__cf_email__" data-cfemail="b6dfd8d0d9f6d1dbd7dfda98d5d9db">[email&#160;protected]</a> 
												</td>
											</tr>
											<tr>
												<th scope="team-mamber-image-wrapper">
													<img src="{% static 'images/images/teachers/img-9.jpg' %}" alt="Tessa M. Skaggs">
												</th>
												<td class="team-member-name">
													<span class="name">
													Tessa M. Skaggs </span>
												</td>
												<td class="team-member-designation">
													<i class="fas fa-stamp"></i> Supervisor
												</td>
												<td class="team-member-address">
													<i class="fas fa-envelope"></i> <a href="" class="__cf_email__" data-cfemail="3950575f56795e54585055175a5654">[email&#160;protected]</a> 
												</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock content %}