{% extends "base.html" %}
{% load static %}




{% block css %}
	<style type="text/css">
		img{
			width: 100%;
		}

		li{
			list-style: initial;
		}
	</style>

{% endblock css %}




{% block content %}
<div class="container">


		<div class="row">
			<div class="col-3 col-md-3 col-lg-3 col-sm-3">

				<div>
					<img src="{% static 'cycles/images/secondaire_01.webp' %}">
				</div>
				
			</div>


			<div class="col-9 col-md-9 col-lg-9 col-sm-9">

				<div>
					<h1>
						Collège 6ème - 3ème
					</h1>
				</div>

				<div>
					<p>
						<ul>
						<li>Préparation au DNB (Brevet)</li>
						<li>Stage en entreprise dès la 4ème</li>
						<li>Langues : anglais-arabe-espagnol</li>
					</ul>
					</p>
				</div>
				
			</div>



		</div>


		<br><br>
		<br><br>

		<hr><hr>





		<div class="row">
			<div class="col-3 col-md-3 col-lg-3 col-sm-3">

				<div>
					<img src="{% static 'cycles/images/secondaire_02.webp' %}">
				</div>
				
			</div>


			<div class="col-9 col-md-9 col-lg-9 col-sm-9">

				<div>
					<h3>Français</h3>
				</div>


				<div>
					<p>
						De manière générale, la maitrise de la langue reste un objectif central du cycle 3 et doit permettre d'assurer à tous les élèves une autonomie suffisante en lecture et écriture pour aborder le cycle 4 avec les acquis nécessaires à la poursuite de la scolarité. Au programme : Les élèves apprennent à utiliser le langage oral pour présenter de façon claire et ordonnée des explications, des informations ou un point de vue, interagir de façon efficace et maitrisée dans un débat avec leurs pairs, affiner leur pensée en recherchant des idées ou des formulations pour préparer un écrit ou une intervention orale.
					</p>

					<p>
						En lecture et compréhension de l'écrit, l'enjeu du cycle 3 est de former l'élève lecteur. Tous les élèves doivent, à l'issue du cycle 3, maitriser une lecture orale et silencieuse fluide et suffisamment rapide pour continuer le travail de compréhension et d'interprétation.
					</p>

					<p>
						
						En écriture, l'entrainement à l'écriture cursive se poursuit pour gagner en rapidité et efficacité. Parallèlement, l'usage du clavier et du traitement de texte fait l'objet d'un apprentissage plus méthodique.

						La culture littéraire et artistique est également une part essentielle de l'enseignement du français. Elle développe l'imagination, enrichit la connaissance du monde et participe à la construction de soi.
					</p>
				</div>
				
			</div>



		</div>

		<br><br>




		<div class="row">
			<div class="col-3 col-md-3 col-lg-3 col-sm-3">

				<div>
					<img src="{% static 'cycles/images/secondaire_03.png' %}">
				</div>
				
			</div>


			<div class="col-9 col-md-9 col-lg-9 col-sm-9">

				<div>
					<h3>Mathématiques</h3>
				</div>

				<div>
					<p>
						Dans la continuité ,le cycle 3 assure la poursuite du développement des six compétences majeures des mathématiques : Compétences travaillées : modéliser, représenter, calculer, raisonner et communiquer. ​

						Au programme :

						<ul>
							<li>
								Nombres et calculs
							</li>

							<li>
								Grandeurs et mesures
							</li>

							<li>
								Espace et géométrie
							</li>
						</ul>
					</p>


					<p>
						Le cycle 3 vise à approfondir des notions mathématiques abordées au cycle 2, (addition, soustraction et multiplication) ainsi que les résultats et procédures.
					</p>
				</div>
				
			</div>



		</div>

		<br><br>



	{% comment %}


		<div class="row">
			<div class="col-3 col-md-3 col-lg-3 col-sm-3">

				<div>
					<img src="{% static 'cycles/images/secondaire_04.png' %}">
				</div>
				
			</div>


			<div class="col-9 col-md-9 col-lg-9 col-sm-9">


				<div>
					<h3>
						Histoire et géographie
					</h3>
				</div>

				<div>
					<p>
						Les élèves poursuivent au cycle 3 la construction progressive et de plus en plus explicite de leur rapport au temps et à l'espace, à partir de deux enseignements disciplinaires liés, l'histoire et la géographie, 

						Compétences travaillées :

						<ul>
							<li>
								Se repérer dans le temps: contruire des repères historiques
							</li>

							<li>
								Se repérer dans l'espace : contruire des repères géographiques
							</li>

							<li>
								Raisonner, justifier une demarche et les choix effectués
							</li>

							<li>
								Poser des questions, se poser des questions.
							</li>

							<li>
								S'informer dans le monde du numérique
							</li>

							<li>
								Comprebdre un document
							</li>

							<li>
								Pratiquer différentes langages en histoire et en géographie
							</li>

							<li>
								Coopérer et mutualiser
							</li>
						</ul>
					</p>
				</div>
				
			</div>



		</div>

		<br><br>


		<div class="row">
			<div class="col-3 col-md-3 col-lg-3 col-sm-3">

				<div>
					<img src="{% static 'cycles/images/secondaire_05.png' %}">
				</div>
				
			</div>


			<div class="col-9 col-md-9 col-lg-9 col-sm-9">

				<div>
					<h3>
						Sciences et technologie
					</h3>
				</div>

				<div>
					<p>
						Au cycle 3, les notions déjà abordées sont revisitées pour progresser vers plus de généralisation et d'abstraction, en prenant toujours soin de partir du concret et des représentations de l'élève.

						Compétences travaillées et programme :

						<ul>
							<li>Pratiquer des démarches scientifiques et technologiques
							 </li>
							<li>
								Concevoir, créer, réaliser
							</li>
							<li>
								S'approprier des outils et des méthodes, Pratiquer des langages
							</li>
							<li>
								Mobiliser des outils numériques
							</li>
							<li>
								Adopter un comportement éthique et responsable
							</li>
							<li>
								Se situer dans l'espace et dans le temps

								Programme
							</li>
							<li>
								Matière, mouvement, énergie, information 
							</li>
							<li>
								Le vivant, sa diversité et les fonctions qui le caractérisent
							</li>
							<li>
								Matériaux et objets techniques
							</li>
							<li>
								La planète Terre. Les êtres vivants dans leur environnement
							</li>

						</ul>
					</p>

					<p>
						Chacun de ces thèmes permet de construire des concepts ou notions qui trouvent leur application dans l'éducation au développement durable. Le concept d'énergie, progressivement construit, est présent dans chaque thème et les relie.

​
					</p>
				</div>
				
			</div>



		</div>


		<br><br>


		<div class="row">
			<div class="col-3 col-md-3 col-lg-3 col-sm-3">

				<div>
					<img src="{% static 'cycles/images/secondaire_06.webp' %}">
				</div>
				
			</div>


			<div class="col-9 col-md-9 col-lg-9 col-sm-9">

				<div>
					<h3>
						Langues vivantes
					</h3>
				</div>

				<div>
					<p>
						Au cycle 3, l'enseignement de la langue vivante étrangère vise l'acquisition de compétences et de connaissances qui permettent l'usage plus assuré et plus efficace d'une langue autre que la langue française.
					</p>
				</div>

				<div>
					<p>
						Des situations de communication adaptées à l'âge, aux capacités cognitives, aux intérêts des élèves, contribuent à la construction de connaissances langagières, permettant d'atteindre le niveau A1 du Cadre européen commun de référence pour les langues (CECRL) dans les cinq activités langagières.
					</p>
				</div>
				
			</div>



		</div>



		<br><br>


		<div class="row">
			<div class="col-3 col-md-3 col-lg-3 col-sm-3">
				<div>
					<img src="{% static 'cycles/images/secondaire_07.webp' %}">
				</div>

				
			</div>


			<div class="col-9 col-md-9 col-lg-9 col-sm-9">

				<div>
					<h3>
						Enseignement moral et civique
					</h3>
				</div>

				<div>
					<p>
						L'enseignement moral et civique vise à l'acquisition d'une culture morale et civique et d'un esprit critique qui ont pour finalité le développement des dispositions permettant aux élèves de devenir progressivement conscients de leurs responsabilités dans leur vie personnelle et sociale. 

						L'enseignement moral et civique vise aussi une appropriation libre et éclairée par les élèves des valeurs qui fondent la République et la démocratie : le socle des valeurs communes comprend la dignité, la liberté, l'égalité - notamment entre les filles et les garçons -, la solidarité, la laïcité, l'esprit de justice, le respect et l'absence de toute forme de discrimination, c'est-à-dire les valeurs constitutionnelles de la République française, inscrites dans la Déclaration des droits de l'homme et du citoyen de 1789 et dans le préambule de la Constitution de 1946.
					</p>
				</div>
				
			</div>



		</div>


		<br><br>



		<div class="row">
			<div class="col-3 col-md-3 col-lg-3 col-sm-3">
				<div>
					<img src="{% static 'cycles/images/secondaire_08.png' %}">
				</div>

				
			</div>


			<div class="col-9 col-md-9 col-lg-9 col-sm-9">

				<div>
					<h3>
						Éducation physique et sportive
					</h3>
				</div>

				<div>
					<p>
						L'éducation physique et sportive développe l'accès à un riche champ de pratiques, à forte implication culturelle et sociale, importantes dans le développement de la vie personnelle et collective de l'individu.
					</p>
				</div>

				<div>
					<p>
						Tout au long de la scolarité, l'éducation physique et sportive a pour finalité de former un citoyen lucide, autonome, physiquement et socialement éduqué, dans le souci du vivre ensemble.
					</p>
				</div>

				<div>
					<p>
						Elle amène les enfants et les adolescents à rechercher le bien-être et à se soucier de leur santé. Elle assure l'inclusion, dans la classe, des élèves à besoins éducatifs particuliers ou en situation de handicap.

						L'éducation physique et sportive initie au plaisir de la pratique sportive.

​
					</p>
				</div>
				
			</div>



		</div>



		<br><br>



		<div class="row">
			<div class="col-3 col-md-3 col-lg-3 col-sm-3">
				<div>
					<img src="{% static 'cycles/images/secondaire_09.webp' %}">
				</div>

				
			</div>


			<div class="col-9 col-md-9 col-lg-9 col-sm-9">

				<div>
					<h3>
						Arts plastiques
					</h3>
				</div>

				<div>
					<p>
						Durant le cycle 3, l'enseignement des arts plastiques s'appuie sur l'expérience, les connaissances et les compétences travaillées au cycle 2 pour engager progressivement les élèves dans une pratique sensible plus autonome, qu'ils apprennent à analyser davantage.

						Le développement du potentiel d'invention et de création est poursuivi.

						Les apprentissages sont nourris par l'introduction de connaissances plus précises et par une attention plus soutenue à l'explicitation de la production plastique des élèves, des processus artistiques observés, de la réception des œuvres rencontrées.
					</p>
				</div>
				
				<div>
					<h3>Histoire des arts</h3>
				</div>


				<div>
					<p>
						L'enseignement pluridisciplinaire et transversal de l'histoire des arts structure la culture artistique de l'élève par l'acquisition de repères issus des œuvres et courants artistiques divers et majeurs du passé et du présent et par l'apport de méthodes pour les situer dans l'espace et dans le temps, les interpréter et les mettre en relation. Tout au long du cycle 3, l'histoire des arts contribue à créer du lien entre les autres enseignements et met en valeur leur dimension culturelle. À partir de la classe de sixième, il associe des professeurs de plusieurs disciplines.

						Compétences travaillées :

						<ul>
							<li>
								Identifier : donner un avis argumenté sur ce que représente ou exprime une œuvre d'art
							</li>
							<li>
								Analyser : dégager d'une œuvre d'art, par l'observation ou l'écoute, ses principales caractéristiques techniques et formelles
							</li>
							<li>
								Situer : relier des caractéristiques d'une œuvre d'art à des usages ainsi qu'au contexte historique et culturel de sa création
							</li>
							<li>
								Se repérer dans un musée, un lieu d'art, un site patrimonial.
							</li>

						</ul>
					</p>
				</div>
			</div>



		</div>


		<div class="row">
			<div class="col-3 col-md-3 col-lg-3 col-sm-3">

				<div>
					<img src="{% static 'cycles/images/secondaire_10.png' %}">
				</div>
				
			</div>

			<div class="col-9 col-md-9 col-lg-9 col-sm-9">
				<div>
					<h3>
						Éducation musicale
					</h3>
				</div>


				<div>
					<p>
						Dans la continuité du cycle 2 et pour préparer le cycle 4, l'éducation musicale en cycle 3 poursuit la découverte et le développement des deux grands champs de compétences qui structurent l'ensemble du parcours de formation : la perception et la production.

						Compétences travaillées :

						<ul>
							<li>
								Chanter et interpréter 
							</li>

							<li>
								Écouter, comparer et commenter
							</li>

							<li>
								Explorer, imaginer et créer
							</li>

							<li>
								Échanger, partager et argumenter
							</li>
						</ul>
					</p>
				</div>
			</div>
		</div>


{% endcomment %}




</div>


{% endblock content %}