{% extends "base_.html" %}
{% load static %}


{% block content %}


{% load static %}


<section id='breadcrumbs-section-1031544185584130' class='astroid-section breadcrumbs-section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1061544185584130" class="row astroid-row">
			<div id="astroid-column-281544185584130" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="breadcrumbs-951544185587659" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<div class="breadcrumb-wraper">
							<ul itemscope itemtype="#" class="breadcrumb">
								<li class="active">
									<span class="divider icon-location"></span>
								</li>
								<li itemprop="itemListElement" itemscope itemtype="#">
									<a itemprop="item" href="{% url 'home' %}" class="pathway"><span itemprop="name">Accueil</span></a>
									<span class="divider">
									&gt; </span>
									<meta itemprop="position" content="1">
								</li>
								<li itemprop="itemListElement" itemscope itemtype="#">
									<a itemprop="item" href="{% url 'cycles:presentation_cycles' %}" class="pathway"><span itemprop="name">Cycles</span></a>
									<span class="divider">
									&gt; </span>
									<meta itemprop="position" content="2">
								</li>
								<li itemprop="itemListElement" itemscope itemtype="#" class="active">
									<span itemprop="name"> Collège </span>
									<meta itemprop="position" content="3">
								</li>
							</ul>
						</div> 

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content-section-1528971561366' class='astroid-section astroid-component-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1528971561366" class="row astroid-row">
			<div id="astroid-column-1528971561366" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="">
				<div class="astroid-message" id="messages-1528971711775" style="" data-animation="" data-animation-delay="">
					<div id="system-message-container">
					</div>
				</div>
				<div class="astroid-component" id="component-area-1529739248826" style="" data-animation="" data-animation-delay="">
					<div class="astroid-component-area">
						<div class="item-page services-view blog-view" itemscope itemtype="#">
							<meta itemprop="inLanguage" content="en-GB" />
								<div class="item-title">
								<h2 itemprop="headline">
								Collège </h2>
							</div>
							<div class="entry-image full-image mb-3"> 
								<img src="{% static 'images/images/academics/elementory-school.jpg' %}" alt="" itemprop="image" class="img-fluid" /> 
							</div>
							<div itemprop="articleBody">
								<p>
									Dans la continuité de l’école élémentaire, la formation dispensée au collège est centrée sur l’acquisition des connaissances et des compétences du socle commun.
									Notre centre ECF Saint-Exupéry intègre les missions de l’Education Nationale : instruire et éduquer, intégrer et promouvoir.
								</p>

								<h6>
									<strong>Cycle 4 : le cycle des approfondissements </strong>
								</h6>
								<p>
									Classes de 5e, de 4e et de 3e
									Le cycle 4 concerne les trois dernières années du collège :
								</p>

								<ul>
									
								    <li> La 5e (12 - 13 ans)</li>
								    <li> La 4e (13 - 14 ans)</li>
								    <li> La 3e (14 - 15 ans)</li>
								</ul>
								<p>
									Les matières enseignées dans ces cycles sont singularisées et se répartissent de la manière suivante pour chaque niveau, d'après les textes du ministère de l’Éducation nationale :
								</p>
								<ul>
									
								    <li> Français </li>
								    <li> Langues vivantes (étrangères ou régionales) </li>
								    <li> Arts plastiques </li>
								    <li> Éducation musicale  </li>
								    <li> Éducation physique et sportive (EPS) </li>
								    <li> Enseignement moral et civique (EMC) </li>
								    <li> Histoire et géographie </li>
								    <li> Physique-Chimie </li>
								    <li> Sciences de la vie et de la Terre (SVT) </li>
								    <li> Technologie </li>
								    <li> Mathématiques </li>
								</ul>
								<p>
									
									Arrivé à la fin du cycle 4, à la sortie du niveau 3e les élèves passent le Diplôme national du brevet (DNB). L’examen se présente sous la forme de :
								</p>
								<ul>
								    <li> 4 épreuves écrites : français, mathématiques, histoire et géographie et sciences (sciences de la vie et de la Terre, physique-chimie et technologie). </li>
								    <li> 1 épreuve orale. </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock content %}