{% extends "base_.html" %}
{% load static %}


{% block content %}


{% load static %}


<section id='breadcrumbs-section-1031544185584130' class='astroid-section breadcrumbs-section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1061544185584130" class="row astroid-row">
			<div id="astroid-column-281544185584130" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="breadcrumbs-951544185587659" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<div class="breadcrumb-wraper">
							<ul itemscope itemtype="#" class="breadcrumb">
								<li class="active">
									<span class="divider icon-location"></span>
								</li>
								<li itemprop="itemListElement" itemscope itemtype="#">
									<a itemprop="item" href="{% url 'home' %}" class="pathway"><span itemprop="name">Accueil</span></a>
									<span class="divider">
									&gt; </span>
									<meta itemprop="position" content="1">
								</li>
								<li itemprop="itemListElement" itemscope itemtype="#">
									<a itemprop="item" href="{% url 'cycles:presentation_cycles' %}" class="pathway"><span itemprop="name">Cycles</span></a>
									<span class="divider">
									&gt; </span>
									<meta itemprop="position" content="2">
								</li>
								<li itemprop="itemListElement" itemscope itemtype="#" class="active">
									<span itemprop="name"> Lycée </span>
									<meta itemprop="position" content="3">
								</li>
							</ul>
						</div> 

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content-section-1528971561366' class='astroid-section astroid-component-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1528971561366" class="row astroid-row">
			<div id="astroid-column-1528971561366" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="">
				<div class="astroid-message" id="messages-1528971711775" style="" data-animation="" data-animation-delay="">
					<div id="system-message-container">
					</div>
				</div>
				<div class="astroid-component" id="component-area-1529739248826" style="" data-animation="" data-animation-delay="">
					<div class="astroid-component-area">
						<div class="item-page services-view blog-view" itemscope itemtype="#">
							<meta itemprop="inLanguage" content="en-GB" />
								<div class="item-title">
								<h2 itemprop="headline">
									Lycée </h2>
							</div>
							<div class="entry-image full-image mb-3"> 
								<img src="{% static 'images/images/academics/elementory-school.jpg' %}" alt="" itemprop="image" class="img-fluid" /> 
							</div>
							<div itemprop="articleBody">
								<p>
									À l’issue du collège, les élèves peuvent poursuivre leur scolarité dans un lycée d’enseignement général et technologique ou dans un lycée professionnel. La scolarité y a lieu en trois ans : la seconde, la première et la terminale.
									La fin du lycée ouvre sur la poursuite d’études dans l’Enseignement supérieur.

									Notre mission est d’assurer la réussite de chaque lycéen et de le préparer à l’enseignement supérieur.

								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}