{% extends "base.html" %}
{% load static %}





{% block css %}
	<style type="text/css">
		img{
			width: 100%;
		}

		li{
			list-style: initial;
		}
	</style>

{% endblock css %}






{% block content %}
<div class="container">


	<div class="row">
		<div class="col-3 col-md-3 col-lg-3 col-sm-3">
			<div>
					<img src="{% static 'cycles/images/lycee_01.webp' %}">
			</div>
		</div>



		<div class="col-9 col-md-9 col-lg-9 col-sm-9">

			<div>
				<h1>
					Lycée 2ème - Terminale
				</h1>
			</div>

			<div>
				<p>
					<ul>
						<li>Générale: Scientifique (S)/ Economie(ES)</li>
						<li>Technologie: STMG</li>
						<li>Pro: Commerce / Accueil</li>
						<li>Préparations aux examens (épreuves anticipées-bac)</li>
						<li>Langues: anglais-arabe-espagnol</li>
					</ul>
				</p>
			</div>

			<div class="row">
				<div class=" col-offset-3 col-md-offset-3 col-6 col-md-6 col-xs-12 col-sm-12">
					<button class="btn btn-info btn-block" type="button"><a href="#">Le brevet bien expliqué, à télécharger</a></button>
				</div>
			</div>
			
		</div>
	</div>

	<br><br><br>
	<hr><hr>


	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_02.webp' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">

			<div>
				<h3>
					Français
				</h3>
			</div>

			<div>
				<p>
					L'enseignement du français en cycle 4 constitue une étape supplémentaire et importante dans la construction d'une pensée autonome appuyée sur un usage correct et précis de la langue française, le développement de l'esprit critique et de qualités de jugement qui sont nécessaires au lycée.

					Cet enseignement s'organise autour de compétences et de connaissances qu'on peut regrouper en trois grandes entrées :

					<ul>
						<li>
							le développement des compétences langagières orales et écrites en réception et en production 
						</li>

						<li>
							l'approfondissement des compétences linguistiques qui permettent une compréhension synthétique du système de la langue, incluant systèmes orthographique, grammatical et lexical ainsi que des éléments d'histoire de la langue (en lien avec les langues anciennes et les langues vivantes étrangères et régionales)
						</li>


						<li>
							la constitution d'une culture littéraire et artistique commune, faisant dialoguer les œuvres littéraires du patrimoine national, les productions contemporaines, les littératures de langue française et les littératures de langues anciennes et de langues étrangères, et les autres productions artistiques, notamment les images, fixes et mobiles.
						</li>
					</ul>
				</p>
			</div>
			

		</div>
	</div>


	<br><br>



		<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_03.png' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">


			<div>
				<h3>
					Mathématiques
				</h3>
			</div>

			<div>
				<p>
					La formation au raisonnement et l'initiation à la démonstration sont des objectifs essentiels du cycle 4. Le raisonnement, au cœur de l'activité mathématique, prend appui sur des situations variées (par exemple problèmes de nature arithmétique ou géométrique, mais également mise au point d'un programme qui doit tourner sur un ordinateur ou pratique de jeux pour lesquels il faut développer une stratégie gagnante, individuelle ou collective, ou maximiser ses chances). Les pratiques d'investigation (essai-erreur, conjecture-validation, etc.) sont essentielles et peuvent s'appuyer aussi bien sur des manipulations ou des recherches papier/crayon, que sur l'usage d'outils numériques (tableurs, logiciels de géométrie, etc.).
				</p>
			</div>

			<div>
				<p>
					En outre, un enseignement de l'informatique (algorithmique et programmation) est dispensé conjointement en mathématiques et en technologie. Il n'a pas pour objectif de former des élèves experts, mais de leur apporter des clés de décryptage d'un monde numérique en évolution constante. Il permet d'acquérir des méthodes qui construisent la pensée algorithmique et développe des compétences dans la représentation de l'information et de son traitement, la résolution de problèmes, le contrôle des résultats.
				</p>
			</div>
			

		</div>
	</div>

	<br><br>


	{% comment %}


	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_04.png' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">


			<div>
				<h3>
					Histoire et géographie
				</h3>
			</div>


			<div>
				<p>
					Au cours du cycle 4, les élèves comprennent progressivement comment les disciplines scientifiques que sont l'histoire et la géographie permettent de réfléchir avec précision aux temps et aux espaces des sociétés humaines et d'appréhender des phénomènes sociaux d'une grande diversité.

​

​
				</p>
			</div>

			<div>
				<p>
					Les thèmes d'enseignement programmés assurent que les élèves découvrent la complexité de l'évolution historique et de l'organisation géographique des groupes humains.

​
				</p>
			</div>
			

		</div>
	</div>


	<br><br>

	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_05.webp' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">


			<div>
				<h3>
					Enseignement moral et civique
				</h3>
			</div>

			<div>
				<p>
					L'enseignement moral et civique vise à l'acquisition d'une culture morale et civique et d'un esprit critique qui ont pour finalité le développement des dispositions permettant aux élèves de devenir progressivement conscients de leurs responsabilités dans leur vie personnelle et sociale. 

					L'enseignement moral et civique vise aussi une appropriation libre et éclairée par les élèves des valeurs qui fondent la République et la démocratie : le socle des valeurs communes comprend la dignité, la liberté, l'égalité - notamment entre les filles et les garçons -, la solidarité, la laïcité, l'esprit de justice, le respect et l'absence de toute forme de discrimination, c'est-à-dire les valeurs constitutionnelles de la République française, inscrites dans la Déclaration des droits de l'homme et du citoyen de 1789 et dans le préambule de la Constitution de 1946.
				</p>
			</div>
			

		</div>
	</div>

	<br><br>

	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_06.webp' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">

			<div>
				<h3>
					Physique-chimie
				</h3>
			</div>

			<div>
				<p>
					Au cours du cycle 4, l'étude des sciences - physique, chimie, sciences de la vie et de la Terre - permet aux jeunes de se distancier d'une vision anthropocentrée du monde et de leurs croyances, pour entrer dans une relation scientifique avec les phénomènes naturels, le monde vivant, et les techniques.

					Compétences travaillées :


					<ul>
						<li>
							Pratiquer des démarches scientifiques 
						</li>
						<li>
							Concevoir, créer, réaliser
						</li>
						<li>
							Adopter un comportement éthique et responsable
						</li>

					</ul>
				</p>


				<p>
					Au programme :
					Les objectifs de formation du cycle 4 en physique-chimie s'organisent autour de quatre thèmes :
					<ul>
						<li>
							Organisation et transformations de la matière 
						</li>
						<li>
							Mouvements et interactions
						</li>
						<li>
							L'énergie et ses conversions
						</li>
						<li>
							Des signaux pour observer et communiquer
						</li>

					</ul>
				</p>
			</div>
			

		</div>
	</div>
	<br><br>


	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_07.png' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">


			<div>
				<h3>
					Sciences de la vie et de la Terre
				</h3>
			</div>

			<div>
				<p>
					Au cours du cycle 4, il s'agit de permettre aux jeunes de distinguer faits scientifiques et croyances, pour entrer dans une relation scientifique avec les phénomènes naturels ou techniques, et le monde vivant.
				</p>
			</div>

			<div>
				<p>
					Au programme :

					Les objectifs de formation du cycle 4 en sciences de la vie et de la Terre s'organisent autour de trois grandes 		thématiques :
					<ul>
						<li>
							la planète Terre, l'environnement et l'action humaine 
						</li>

						<li>
							le vivant et son évolution
						</li>

						<li>
							le corps humain et la santé

​
						</li>
					</ul>
				</p>
			</div>
			

		</div>
	</div>
	<br><br>



	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_08.png' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">

			<div>
				<h3>
					Technologie
				</h3>
			</div>

			<div>
				<p>
					En continuité de l'éducation scientifique et technologique des cycles précédents, la technologie au cycle 4 vise l'appropriation par tous les élèves d'une culture faisant d'eux des acteurs éclairés et responsables de l'usage des technologies et des enjeux associés.

​
				</p>
			</div>

			<div>
				<p>
					Au cycle 4, l'enseignement de technologie privilégie l'étude des objets techniques ancrés dans leur réalité sociale et leurs développement. 

					En outre, un enseignement d'informatique, est dispensé à la fois dans le cadre des mathématiques et de la technologie. Celui-ci n'a pas pour objectif de former des élèves experts, mais de leur apporter des clés de décryptage d'un monde numérique en évolution constante. Il permet d'acquérir des méthodes qui construisent la pensée algorithmique et développe des compétences dans la représentation de l'information et de son traitement, la résolution de problèmes, le contrôle des résultats.
				</p>
			</div>
			

		</div>
	</div>


	<br><br>

	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_09.png' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">

				<div>
					<h3>
						Éducation aux médias et à l'information
					</h3>
				</div>

				<div>
					<p>
						L'éducation aux médias et à l'information, présente dans tous les champs du savoir transmis aux élèves, est prise en charge par tous les enseignements. Tous les professeurs, dont les professeurs documentalistes, veillent collectivement à ce que les enseignements dispensés en cycle 4 assurent à chaque élève :

						<ul>
							<li>
								une première connaissance critique de l'environnement informationnel et documentaire du XXIe siècle 
							</li>

							<li>
								une maitrise progressive de sa démarche d'information, de documentation
							</li>

							<li>
								un accès à un usage sûr, légal et éthique des possibilités de publication et de diffusion
							</li>
						</ul>

						Compétences travaillées :
						<ul>
							<li>
								Utiliser les médias et les informations de manière autonome et responsable 
							</li>

							<li>
								Exploiter l'information de manière raisonnée
							</li>

							<li>
								Produire, communiquer et savoir partager des informations​
							</li>
						</ul>
					</p>
				</div>
			

		</div>
	</div>

	<br><br>


	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_10.png' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">

			<div>
				<h3>
					Éducation physique et sportive
				</h3>
			</div>

			<div>
				<p>
					L'éducation physique et sportive développe l'accès à un riche champ de pratiques, à forte implication culturelle et sociale, importantes dans le développement de la vie personnelle et collective de l'individu. Tout au long de la scolarité, l'éducation physique et sportive a pour finalité de former un citoyen lucide, autonome, physiquement et socialement éduqué, dans le souci du vivre ensemble. Elle amène les enfants et les adolescents à rechercher le bien-être et à se soucier de leur santé. Elle assure l'inclusion, dans la classe, des élèves à besoins éducatifs particuliers ou en situation de handicap. L'éducation physique et sportive initie au plaisir de la pratique sportive.

​
				</p>
			</div>
			

		</div>
	</div>


	<br><br>

	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_11.webp' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">

			<div>
				<h3>
					Langues vivantes
				</h3>
			</div>

			<div>
				<p>
					Au cycle 4, les élèves apprennent en parallèle deux langues vivantes étrangères. Ils acquièrent, à l'oral et à l'écrit, des compétences leur permettant de comprendre, d'exprimer, d'interagir, de transmettre, de créer. Dans chaque langue étudiée et dans la convergence entre elles, la découverte culturelle et la relation interculturelle sont, en articulation étroite avec les activités langagières, des visées majeures du cycle.
				</p>
			</div>
			

		</div>
	</div>


	<br><br>

	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_12.png' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">

			<div>
				<h3>
					Arts plastiques
				</h3>
			</div>

			<div>
				<p>
					L'enseignement des arts plastiques se fonde sur la pratique plastique dans une relation à la création artistique. Il offre les moyens de porter un regard informé et critique sur l'art et sur les univers visuels auxquels il renvoie, artistiques et non artistiques.

					Le cycle 4 poursuit l'investigation des questions fondamentales abordées dans les cycles précédents (représentation, fabrication, matérialité, présentation) en introduisant trois questionnements :

					<ul>
						<li>
							La représentation ; les images, la réalité et la fiction
						</li>
						<li>
							La matérialité de l'œuvre ; l'objet et l'œuvre
						</li>
						<li>
							L'œuvre, l'espace, l'auteur, le spectateur
						</li>

					</ul>

					Les questions sont travaillées tous les ans dans une logique d'approfondissement.
				</p>
			</div>
			

		</div>
	</div>

	<br><br>


	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_13.webp' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">


			<div>
				<h3>
					Histoire des arts
				</h3>
			</div>


			<div>
				<p>
					Enseignement de culture artistique transversal et co-disciplinaire, l'histoire des arts, au cycle 4, contribue à donner à tous les élèves une conscience commune, celle d'appartenir à une histoire des cultures et des civilisations, inscrite dans les œuvres d'art de l'humanité. L'enseignement de l'histoire des arts travaille à en révéler le sens, la beauté, la diversité et l'universalité.

					L'histoire des arts est enseignée dans le cadre :


					<ul>
						<li>
							des enseignements des arts plastiques et d'éducation musicale 
						</li>
						<li>
							de l'histoire et de la géographie, non comme illustration ou documentation de faits historiques mais comme une dimension d'histoire et de géographie culturelles, par l'étude périodisée des circulations, des techniques, des sensibilités et des modes de vie
						</li>
						<li>
							du français, en s'appuyant notamment sur l'étude de grands textes littéraires, poétiques, critiques et dramatiques, de l'Antiquité à la période contemporaine, avec leurs transpositions cinématographiques ou leur mise en spectacle
						</li>
						<li>
							des langues vivantes, dont elle enrichit à la fois la dimension culturelle et le lexique de la description, des couleurs, des formes, des techniques et des émotions
						</li>


					</ul>

					Au programme :

					<ul>
						<li>
							Arts et société à l'époque antique et au haut Moyen Âge 
						</li>
						<li>
							Formes et circulations artistiques (IXe-XVe s.)
						</li>
						<li>
							Le sacre de l'artiste (XIVe-début XVIIe s.)
						</li>
						<li>
							État, société et modes de vie (XIIIe-XVIIIe s.)
						</li>
						<li>
							L'art au temps des Lumières et des révolutions (1750-1850)
						</li>
						<li>
							De la Belle Époque aux « années folles » : l'ère des avant-gardes (1870-1930)
						</li>
						<li>
							Les arts entre liberté et propagande (1910-1945)
						</li>
						<li>
							Les arts à l'ère de la consommation de masse (de 1945 à nos jours)
						</li>


					</ul>
				</p>
			</div>
			

		</div>
	</div>

	<br><br>



	<div class="row">
		<div class="col-3 col-md-3 col-lg-3">
			<div>
					<img src="{% static 'cycles/images/lycee_14.png' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-9">
			
			<div>
				<h3>
					Éducation musicale
				</h3>
			</div>


			<div>
				<p>
					Comme aux cycles précédents, deux champs de compétences organisent le programme au cycle 4, celui de la production et celui de la perception. La poursuite de la découverte de la création musicale d'hier et d'aujourd'hui, mobilise un vocabulaire spécifique plus précis et développé, s'attache enfin à construire, par comparaison, des références organisant la connaissance des esthétiques musicales dans le temps et l'espace.
				</p>
			</div>



		</div>
	</div>


	{% endcomment %}




</div>


{% endblock content %}