{% extends "base.html" %}
{% load static %}



{% block css %}
	<style type="text/css">
		img{
			width: 100%;
		}

		li{
			list-style: initial;
		}
	</style>

{% endblock css %}




{% block content %}

<div class="container">
	<br>
	<div class="row">
		<div class="col-4 col-xs-12 col-sm-12 col-md-4 col-lg-4 " >
			<div>
				<img src="{% static 'cycles/images/presentation_01.webp' %}">
			</div>
		</div>


		<div class="col-8 col-md-8 col-sm-12 col-xs-12 col-lg-8">
			<h3>
				Ouverture des inscriptions pour la rentrée 2018 / 2019
			</h3>
			<p>
				N'hésitez pas à nous contacter par email pour obtenir les informations concernant les classes du CP à la 3ème.
				<div class="float-right btn btn-info"><a href="#">Pour + d'infos</a></div>
			</p>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-4 col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
			<div>
				<img src="{% static 'cycles/images/presentation_02.png' %}">
				<img src="{% static 'cycles/images/presentation_03.png' %}">
			</div>
		</div>

		<div class="col-8 col-md-8 col-sm-12 col-xs-12 col-lg-8">
			<div>
				<h4>
					Des programmes conçus par cycles
				</h4>

				<p>
					Les programmes doivent permettre, pour chaque élève, l'acquisition progressive des connaissances et des compétences au sein des trois cycles de la scolarité obligatoire:
					<ul>
						<li>
							le cycle 2, cycle des apprentissages fondamentaux (CP, CE1, et CE2)
						</li>

						<li>
							le cycle 3, cycle des de consolidation (CM1, CM2 et classe de 6ème)
						</li>

						<li>
							le cycle 4, cycle des approfondissements (classe de cinquième, quatrième et toisième)
						</li>
					</ul>

				</p>

				<p>
					Les programmes présenteront les enjeux et les objectifs de formation de chaque cycle, mettront en évidence la contribution des différents champs disciplinaires à l'acquisition de chacun des cinq dommaines de formation de socle commun et préciseront, par champ disciplinaire ou discipline, les niveaux de maîtrise attendus à la fin du cycle, les connaissances et les compétences à acquérir. Ils indiqueront également les repères de progressivité nécessaires pour organiser la formation des élèves durant les trois années du cycle.
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-4 col-md-4 col-lg-4">
			<div>
				<img src="{% static 'cycles/images/presentation_04.webp' %}">
			</div>
		</div>
		<div class="col-8 col-md-8 col-lg-8 col-push-4 col-md-push-4 col-lg-push-4">
			

			<div>
				<h4>Une mise en oeuvre accopagnée par la formation et les ressources</h4>
				<p>
					Des actions de formation ont été organisées aux niveaux national et académique. Parallèlement, la direction générale de l'enseignement scolaire a publié, en partenariat avec l'inspection générale de l'éducation nationale, un ensemble de ressources pédagogiques pour accompagner la mise en oeuvre de ces nouveaux programmes du cycle 2 au cycle4. Elles sont disponibles sur <span style="text-decoration: underline;">
						<a href="http://eduscol.education.fr/cid99757/ressources-d-accompagnement-des-nouveaux-programmes-de-l-ecole-et-du-college.html" target="_blank" data-content="http://eduscol.education.fr/cid99757/ressources-d-accompagnement-des-nouveaux-programmes-de-l-ecole-et-du-college.html" data-type="external" rel="underline">Eduscol</a>
					</span>
				</p>
			</div>

			<div>
				<h4>
					Le livret scolaire unique du CP à la troisième  
				</h4>
				<p>
					Le livret scoalire unique de l'école et du collège est un outil simple et précis pour rendre compte aux parents des acquis et des progrès de leur enfants et restituer ainsi une évolution plus complète et exigeante. Suivant les recommandations de la conférence nationale sur l'évaluation des élèves, ce livret permet aux parents et aux élèves de prendre d'en connaissance lorsqu'ils le souhaitent.
					<div class="float-right btn btn-info"><a href="#">Pour + d'infos</a></div>
				</p>
			</div>
		</div>
	</div>
</div>




















{% endblock content %}
