{% extends "base_.html" %}
{% load static martortags %}

{% block content %}



{% static 'images/images/slider/img-3.jpg' as image_url %}

{% url "{{ instance.image.url }}" as n_image %}


{% include "base/entete.html" with title="Présentation" lien="Présentation" image=instance.image.url %}


<section id='section-2-1529739392758' class='astroid-section section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1529739392758" class="row astroid-row">
			<div id="astroid-column-1529739392758" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-2-1529739392758" style="" data-animation="" data-animation-delay="500"> 
					<div class="moduletable ">
						<div class="custom">
							<div class="row align-items-center">
								<div class="col">
									<div class="description">
										<h3 class="mb-4">{{ instance.titre }}</h3>
										{{ instance.description|safe_markdown }}
									</div>
								</div>
							</div>
						</div> 

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='section-3-1529739392463' class='astroid-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1529739392463" class="row astroid-row">
			<div id="astroid-column-1529739392463" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-3-1529739392463" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<div class="custom">
							<div class="row align-items-center">
								<div class="col-lg-5 order-lg-1">
									<a href="{% url 'cycles:primaire' %}">
								{% if primaire.image %}
									<img src="{{ primaire.image.url }}" alt="Ecole primaire">
								{% else %}
									<img src="{% static 'images/images/academics/pre-kindergarten.jpg' %}" alt="Ecole primaire">

								{% endif %}
									</a>
								</div>
								<div class="col-lg-7 order-lg-0">
									<div class="description">
										<h3 class="mb-4"><a href="{% url 'cycles:primaire' %}">{% if primaire %}{{ primaire.nom }}{% else %} Primaire {% endif %}</a></h3>

										{{ primaire.description|safe_markdown|truncatewords:80 }}


									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content-section-1528971561366' class='astroid-section astroid-component-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1528971561366" class="row astroid-row">
			<div id="astroid-column-1528971561366" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="">
				<div class="astroid-message" id="messages-1528971711775" style="" data-animation="" data-animation-delay="">
					<div id="system-message-container">
					</div>
				</div>

				<div class="astroid-component" id="component-area-1529739248826" style="" data-animation="" data-animation-delay="">
					<div class="astroid-component-area">
						<div class="item-pagehide-component-area-spacing" itemscope itemtype="#">
							<meta itemprop="inLanguage" content="en-GB" />
							<div itemprop="articleBody">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section id='section-6-141539181465905' class='astroid-section section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-271539181465905" class="row astroid-row">
			<div id="astroid-column-631539181465905" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-6-1061544170263850" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<div class="custom">
							<div class="row align-items-center">

								<div class="col-lg-5">
									<a href="{% url 'cycles:college' %}">
								{% if college.image %}		
									<img src="{{ college.image.url }}" alt="Le collège">
								{% else %}
									<img src="{% static 'images/images/academics/elementory-school.jpg' %}" alt="Le collège">

								{% endif %}

									</a>
								</div>
								<div class="col-lg-7">
									<div class="description">
										<h3 class="mb-4"><a href="{% url 'cycles:college' %}">{% if college %}{{ college.nom }}{% else %} Collège {% endif %}</a> </h3>

										{{ college.description|safe_markdown|truncatewords:80 }}
									</div>
								</div>
							</div>
						</div> 

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id='section-7-131544631020039' class='astroid-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-751544631020040" class="row astroid-row">
			<div id="astroid-column-251544631020040" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-9-281544631029447" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<div class="custom">
							<div class="row align-items-center">
									<div class="col-lg-5 order-lg-1">
										<a href="{% url 'cycles:lycee' %}">
											{% if lycee.image %}
											
												<img src="{{ lycee.image.url }}" alt="Le lycée">

											{% else %}
												<img src="{% static 'images/images/academics/high-school.jpg' %}" alt="Le lycée">

										</a>
									</div>
								{% endif %}
								<div class="col-lg-7 order-lg-0">
								<div class="description">
									<h3 class="mb-4"><a href="{% url 'cycles:lycee' %}">{% if lycee %}{{ lycee.nom }}{% else %} Lycée {% endif %}</a></h3>
									{{ lycee.description|safe_markdown|truncatewords:80 }}
								</div>
								</div>
							</div>
						</div> 

					</div>
				</div>		
			</div>
		</div>
	
	</div>
</section>

{% endblock content %}