{% extends "base_.html" %}
{% load static %}

{% block content %}
<section id='banner-section-1532936603488' class='astroid-section banner-section' style='' data-animation='' data-animation-delay=''>
	<div id="astroid-row-1532936603488" class="row no-gutters astroid-row">
		<div id="astroid-column-1532936603488" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
			<div class="astroid-banner text-center text-white" id="banner-1532936878566" style="" data-animation="" data-animation-delay="500"> 
				<div style="background-image: url({% static 'images/images/slider/img-3.jpg' %})" class="astroid-banner-inner ">
					<h2 class="astroid-banner-title" style="color:">Houses</h2> 
				</div>
			</div>
		</div>
	</div>
</section>

<section id='breadcrumbs-section-1031544185584130' class='astroid-section breadcrumbs-section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1061544185584130" class="row astroid-row">
			<div id="astroid-column-281544185584130" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="breadcrumbs-951544185587659" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<div class="breadcrumb-wraper">
							<ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
								<li class="active">
									<span class="divider icon-location"></span>
								</li>
								<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
									<a itemprop="item" href="{% url 'home' %}" class="pathway"><span itemprop="name">Accueil</span></a>
									<span class="divider">
									&gt; </span>
									<meta itemprop="position" content="1">
								</li>
								<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="active">
									<span itemprop="name">
									Houses &gt;</span>
									<meta itemprop="position" content="3">
								</li>
							</ul>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='section-2-1529739392758' class='astroid-section section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1529739392758" class="row astroid-row">
			<div id="astroid-column-1529739392758" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-2-1529739392758" style="" data-animation="" data-animation-delay="500"> 
					<div class="moduletable ">
						<div class="custom">
							<div class="row align-items-center">
								<div class="col">
									<div class="description">
										<h3 class="mb-4">Présentation des cycles</h3>
										<h6>Nos cycles</h6>
									</div>
								</div>
							</div>
						</div> 

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='section-3-1529739392463' class='astroid-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1529739392463" class="row astroid-row">
			<div id="astroid-column-1529739392463" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-3-1529739392463" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<div class="custom">
							<div class="row align-items-center">
								<div class="col-lg-5 order-lg-1">
									<img src="{% static 'images/images/houses/img-2.png' %}" alt="img-2">
								</div>
								<div class="col-lg-7 order-lg-0">
									<div class="description">
										<h3 class="mb-4">Maternelle</h3>
										<h6>La maternelle</h6>
										<p>Partant de la ...</p>
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content-section-1528971561366' class='astroid-section astroid-component-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1528971561366" class="row astroid-row">
			<div id="astroid-column-1528971561366" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="">
				<div class="astroid-message" id="messages-1528971711775" style="" data-animation="" data-animation-delay="">
					<div id="system-message-container">
					</div>
				</div>

				<div class="astroid-component" id="component-area-1529739248826" style="" data-animation="" data-animation-delay="">
					<div class="astroid-component-area">
						<div class="item-pagehide-component-area-spacing" itemscope itemtype="https://schema.org/Article">
							<meta itemprop="inLanguage" content="en-GB" />
							<div itemprop="articleBody">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section id='section-6-141539181465905' class='astroid-section section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-271539181465905" class="row astroid-row">
			<div id="astroid-column-631539181465905" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-6-1061544170263850" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<div class="custom">
							<div class="row align-items-center">
								<div class="col-lg-5">
									<img src="{% static 'images/images/houses/img-3.png' %}" alt="img-3">
								</div>
								<div class="col-lg-7">
									<div class="description">
										<h3 class="mb-4">Collège</h3>
										<h6>Le cycle de collège</h6>
										<p>Le collège dont ...</p>
									</div>
								</div>
							</div>
						</div> 

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id='section-7-131544631020039' class='astroid-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-751544631020040" class="row astroid-row">
			<div id="astroid-column-251544631020040" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-9-281544631029447" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<div class="custom">
							<div class="row align-items-center">
								<div class="col-lg-5 order-lg-1">
								<img src="{% static 'images/images/houses/img-4.png' %}" alt="img-4">
								</div>
								<div class="col-lg-7 order-lg-0">
								<div class="description">
									<h3 class="mb-4">Le lycée</h3>
									<h6>Le cycle de lycée</h6>
									<p>Le lycée</p>
								</div>
								</div>
							</div>
						</div> 

					</div>
				</div>		
			</div>
		</div>
	
	</div>
</section>

{% endblock content %}