{% extends "base.html" %}
{% load static %}



{% block css %}
	<style type="text/css">
		img{
			width: 100%;
		}

		li{
			list-style: initial;
		}
	</style>

{% endblock css %}




{% block content %}
<div class="container">
	<br>


	<div class="row">
		<div class="col-3 col-md-3 col-lg-3 col-sm-12 col-xs-12">
			<div>
				<img class="img-responsive" src="{% static 'cycles/images/primaire_01.webp' %}">
			</div>
		</div>

		<div class="col-9 col-md-9 col-lg-9 col-sm-12 col-xs-12">
			<div>
				<h1>
					Primaire CP - CM2
				</h1>

				<ul style="list-style: none;">
					<li style="list-style: none;">
						Matières magistrales : Français maths, hist-géo, anglais, musique, arts-plastiques
					</li>

					<li>Activités scolaires: classe verte, sorties pédagogiqueq</li>
				</ul>

			</div>
		</div>
	</div>


	<br><br><br>
	<div class="row">
		<div class="col-6 col-md-6 col-lg-6 col-xs-12 col-sm-12">
			<div>
				<p>A l'école maternelle, les élèves ont développé des compétences dans l'usage du langage oral et appris à parler ensemble, entendu des textes et appris à les comprendre, découvert la fonction de l'écrit et commencé à en produire. Ils ont acquis des repères dans le domaine du vocabulaire, de la conscience phonologique, du principe alphabbétique, des gestes de l'écrire.</p>
			</div>
			<div>
				<p>
					Au cycle 2, la langue française constitue l'objet d'apprentissage central.
					L'enseignement du français « consolide les compétences des élèves pour communiquer et vivre en socité, struture chacun dans sa relation au monde et participe à la contruction de soi; il facilite l'entrée dans tous les enseignements et leurs langages ». Les ressources proposent quatre entrées: langage oral, lecture et comprehension de l'écrit, écriture et étude de la langue.
				</p>
			</div>

			<div>
				<p>
					Les mathématiques par l'approche des résolutions de problèmes, centre l'activité mathématique sur : raisonner, communiquer par le questionnement en chercher-tâtonner, avec un travail sur les symboles et le vocabulaire mathematique.
				</p>
			</div>

			<div>
				<p>
					L'enseignement artistique, musicale, l'anglais en langue vivante et l'éducation physique et sportive font partie intégrante du cycle 2.
				</p>
			</div>
		</div>


		<div class="col-6 col-md-6 col-lg-6 col-xs-12 col-sm-12">
			<img class="img-responsive" src="{% static 'cycles/images/primaire_02.webp' %}">
		</div>
	</div>




	<div class="row">
		<div class=" col-6 col-md-6 col-lg-6 col-xs-12 col-sm-12">
			<div>
				<img class="img-responsive " src="{% static 'cycles/images/primaire_03.png' %}">
			</div>
		</div>


		<div class="col-6 col-md-6 col-lg-6 col-xs-12 col-sm-12">
			
	

		<div>
			<h5>Les valeurs de nos professeurs :</h5>

			<p>
				<ul>
					<li>
						Apprendre doit toujours être une source de plasisir.
					</li>

					<li>
						Le professeur est bieveillant avec ces élèves et leur transmet son amour de l'enseignement, son amour de l'apprentissage, son intérêt pour une éducation empathique, bienveillante soutenante permentant à l'enfant de s'épanouir dans sa vie affective, relationnelle et dans sa vie intellectuelle.
					</li>

					<li>
						Il y a dans le monde autant de code qu'il y a de culture
					</li>
				</ul>
			</p>
		</div>
	</div>
</div>




</div>


{% endblock content %}