{% extends "base_.html" %}
{% load static %}


{% block content %}


{% load static %}


<section id='breadcrumbs-section-1031544185584130' class='astroid-section breadcrumbs-section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1061544185584130" class="row astroid-row">
			<div id="astroid-column-281544185584130" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="breadcrumbs-951544185587659" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<div class="breadcrumb-wraper">
							<ul itemscope itemtype="#" class="breadcrumb">
								<li class="active">
									<span class="divider icon-location"></span>
								</li>
								<li itemprop="itemListElement" itemscope itemtype="#">
									<a itemprop="item" href="{% url 'home' %}" class="pathway"><span itemprop="name">Accueil</span></a>
									<span class="divider">
									&gt; </span>
									<meta itemprop="position" content="1">
								</li>
								<li itemprop="itemListElement" itemscope itemtype="#">
									<a itemprop="item" href="{% url 'cycles:presentation_cycles' %}" class="pathway"><span itemprop="name">Cycles</span></a>
									<span class="divider">
									&gt; </span>
									<meta itemprop="position" content="2">
								</li>
								<li itemprop="itemListElement" itemscope itemtype="#" class="active">
									<span itemprop="name">Primaire</span>
									<meta itemprop="position" content="3">
								</li>
							</ul>
						</div> 

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content-section-1528971561366' class='astroid-section astroid-component-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1528971561366" class="row astroid-row">
			<div id="astroid-column-1528971561366" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="">
				<div class="astroid-message" id="messages-1528971711775" style="" data-animation="" data-animation-delay="">
					<div id="system-message-container">
					</div>
				</div>
				<div class="astroid-component" id="component-area-1529739248826" style="" data-animation="" data-animation-delay="">
					<div class="astroid-component-area">
						<div class="item-page services-view blog-view" itemscope itemtype="#">
							<meta itemprop="inLanguage" content="en-GB" />
								<div class="item-title">
								<h2 itemprop="headline">
								Primaire </h2>
							</div>
							<div class="entry-image full-image mb-3"> 
								<img src="{% static 'images/images/academics/elementory-school.jpg' %}" alt="" itemprop="image" class="img-fluid" /> 
							</div>
							<div itemprop="articleBody">
								Du CP au CM2, nous accompagnons votre enfant tout au long de son parcours.

								<h6>
									<strong>Cycle 2 : le cycle des apprentissages fondamentaux</strong>
								</h6>

								Le cycle 2 concerne les trois premières années scolaires de l'école élémentaire :
								<ul>
									
								    <li> Cours préparatoire (CP) (6 - 7 ans)</li>
								    <li> Cours élémentaire niveau 1 (CE1) (7 - 8 ans)</li>
								    <li> Cours élémentaire niveau 2 (CE2) (8 - 9 ans)</li>
								</ul>
								<strong>
									Le cycle 2 est organisé autour de sept domaines fondamentaux :</h5>
								</strong>
								<ul>
									
								    <li> Français</li>
								    <li> Langues vivantes (étrangères ou régionales)</li>
								    <li> Enseignements artistiques</li>
								    <li> Éducation physique et sportive</li>
								    <li> Enseignement moral et civique</li>
								    <li> Questionner le monde</li>
								    <li> Mathématiques</li>
								</ul>

								<h6>Cycle 3 : le cycle de consolidation </h6>
								<p>
									
									Le cycle 3 concerne les deux dernières années d'enseignement élémentaire et la première année d'enseignement au collège
								</p>
								<ul>
									<li> Cours moyen niveau 1 (CM1) (9 - 10 ans)</li>
									<li> Cours moyen niveau 2 (CM2) (10 - 11 ans)</li>
									<li> Classe de 6e (11 - 12 ans)</li>
								</ul>
								<p>
									
									Les matières enseignées dans ce cycle s'inscrivent dans la continuité du cycle 2. Ces matières sont les suivantes :
								</p>
								<ul>
									<li> Français</li>
									<li> Langues vivantes (étrangères ou régionales)</li>
									<li> Arts plastiques</li>
									<li> Éducation musicale</li>
									<li> Histoire des arts</li>
									<li> Éducation physique et sportive</li>
									<li> Enseignement moral et civique n</li>
									<li> Histoire et géographie</li>
									<li> Sciences et technologie</li>
									<li> Mathématiques</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock content %}