
$header_height: 50px ;
$header-bg: #3B5998;


a {
	text-decoration : none ;
	color: inherit ;
    &:hover {
        color: inherit ;
    }
}



ul {
	list-style: none ;
}


.fa {
    font-size: 30px !important ;
}

.ui__logo__container {
    display: block ;
    width: 100% ;

    img {
        width: inherit ;
    }
}

.ui__haut{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;

    ul{
        display: flex;
    }

    .ui__haut__logo{
        width: 30% ;
        min-width: 160px ;
        margin-left: 5% ;
    }

    .ui__haut__lien {
        display: flex;
        align-items: center;
        padding: 7px 15px ;
        li {
            border: 1px solid #068fec;
            padding: 7px;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            margin: 0 7px;
            list-style: none;
            &:hover {
                color: #fff;
                background-color: #0d4870;
            }
        }
    }
}

.ui__fix__header {
	position: fixed ;
	top: 0 ;
	left: 0 ; 
	right: 0 ;

}

.ui__header {
	
	height: $header_height ;
    // border-bottom: 1px solid #e0e0e0;
    z-index:1000;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #0d4870;
    color: #fff;
    margin-bottom: 33px;
    /*
    background-color: #3B5998;
    color: #fff;
    */

    .ui__header__inner {
		
    	height: inherit;
    	line-height: $header_height ;

    	.ui__header__content {
    		display: flex ;
    		justify-content: space-between ;

    		.ui__header__logo , .ui__header__menu {
    			height:100% ;
    		}
    		.ui__header__logo {

        		padding-left: 10% ;
                border-radius: 50%;
    		}

    		.ui__header__menu {
    			margin: 0 auto ;

    			.ui__menu__list {
    				// min-width: 660px ;
                    // display
    			
                .ui__menu__item {

                    .ui__menu__item_svg {
                    margin-left: 8px;
                    -webkit-transform: rotate(270deg);
                    transform: rotate(270deg);


                    .ui__menu__item_svg__path {
                           fill: #fff;
                            opacity: 1;

                         }

                    }

                

    			.ui__menu__dropdown {
    				display: none ;
    				position: absolute ;
    				top: ($header_height -1) ;
    				left: 0 ;
    				width: 160px ;
    				background-color: #eaeaea;
    				border: 1px solid #e0e0e0 ;
					border-top: 3px solid #6c9cd8;
					z-index:3;
					text-align: left;
                    color: #333 ;
					
    				.ui__menu__dropdown_item {
    					display: block ;
    					height: auto ;
    					line-height: initial ;
    					padding: 10px 20px ;
    				

                    &:hover{
                        color: #fff;
                        background:  #0d4870;
                        }
                    }
    			 }
                }
            }
    	   }
    	}
    } 
}

.ui__menu__item {

	position: relative ;
	display: inline-block;
    vertical-align: top;
    padding: 0 63px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    &:hover {
        box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.5) ;
        }

    a{
        text-decoration:none;
        &:hover {
        color: inherit ;
            }


     .ui__menu__link {
    	display: block ;
    	width: 100% ;
       }
     }


    &:hover .ui__menu__dropdown {
    	display: block !important;
        background-color:red;
    }


}

#menu__shower {
	display: none ;
}

@media screen and (max-width: 960px) {

        .ui__haut{
            display: block;
            margin-right: 0 ;
        }
        .ui__menu__item_svg{
            display: none;
        }

		#menu__shower {
			display: block ;
            position: absolute;
            top: 17px;
            left: 10px;
		}
    	.ui__header {

    		.ui__header__content {

                .ui__header__menu {
                    position: relative ;
                    margin: initial !important ;
                }


    			.ui__menu__list {
    				position: absolute;
    				top: $header_height;
                    left: 0 ;
                    margin-right: 0 ;
                    padding-left: 0 ;
    				transform: translateX(-100%) ;
    				display: block ;
    				width: 200px ;
					z-index: 2000 ;
					background-color: #0d4870 ;
					padding-right: 0 !important ;
					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
					transition: all 0.2s ;

					&.show__menu__list {
						transform: translateX(0) ;
					}
					.ui__menu__item {
						display: block ;
						text-align: left ;
						&.has__child::before {
							content: "+" ;
                            font-size: 0.8rem ;
							margin-right: 2px ;
						}
						&.has__child .ui__menu__dropdown {
		    				display: none ;
		    				position: static ;
		    				width: 100% ;
							border-top: none;
							z-index:3;
							text-align: left;
						}
						&.has__child .ui__menu__dropdown {
							display: block ;
							animate: showDropdownMenu 5s ;

						}
					}
    			} 
    		}
    	}


}

@media screen and (max-width: 567px) {
    .ui__haut {
        .ui__haut__lien {
            display: block ;
        }

        .ui__haut__logo {
            margin: 0 auto ;
        }
    }
}



scre@keyframes showDropdownMenu {
	0% {
		height: 0 ;
	} 100% {
		height: 100% ;
	}
}