/* line 3, nav.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, _nav_.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 9, _nav_.scss */
a:hover {
  color: inherit;
}

/* line 16, _nav_.scss */
ul {
  list-style: none;
}

/* line 21, _nav_.scss */
.fa {
  font-size: 30px !important;
}

/* line 25, _nav_.scss */
.ui__logo__container {
  display: block;
  width: 100%;
}
/* line 29, _nav_.scss */
.ui__logo__container img {
  width: inherit;
}

/* line 34, _nav_.scss */
.ui__haut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
/* line 40, _nav_.scss */
.ui__haut ul {
  display: flex;
}
/* line 44, _nav_.scss */
.ui__haut .ui__haut__logo {
  width: 30%;
  min-width: 160px;
  margin-left: 5%;
}
/* line 50, _nav_.scss */
.ui__haut .ui__haut__lien {
  display: flex;
  align-items: center;
  padding: 7px 15px;
}
/* line 54, _nav_.scss */
.ui__haut .ui__haut__lien li {
  border: 1px solid #068fec;
  padding: 7px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: 0 7px;
  list-style: none;
}
/* line 64, _nav_.scss */
.ui__haut .ui__haut__lien li:hover {
  color: #fff;
  background-color: #0d4870;
}

/* line 72, _nav_.scss */
.ui__fix__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* line 80, _nav_.scss */
.ui__header {
  height: 50px;
  z-index: 1000;
  background-color: #0d4870;
  color: #fff;
  margin-bottom: 33px;
  /*
  background-color: #3B5998;
  color: #fff;
  */
}
/* line 94, _nav_.scss */
.ui__header .ui__header__inner {
  height: inherit;
  line-height: 50px;
}
/* line 99, _nav_.scss */
.ui__header .ui__header__inner .ui__header__content {
  display: flex;
  justify-content: space-between;
}
/* line 103, _nav_.scss */
.ui__header .ui__header__inner .ui__header__content .ui__header__logo, .ui__header .ui__header__inner .ui__header__content .ui__header__menu {
  height: 100%;
}
/* line 106, _nav_.scss */
.ui__header .ui__header__inner .ui__header__content .ui__header__logo {
  padding-left: 10%;
  border-radius: 50%;
}
/* line 112, _nav_.scss */
.ui__header .ui__header__inner .ui__header__content .ui__header__menu {
  margin: 0 auto;
}
/* line 121, _nav_.scss */
.ui__header .ui__header__inner .ui__header__content .ui__header__menu .ui__menu__list .ui__menu__item .ui__menu__item_svg {
  margin-left: 8px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
/* line 127, _nav_.scss */
.ui__header .ui__header__inner .ui__header__content .ui__header__menu .ui__menu__list .ui__menu__item .ui__menu__item_svg .ui__menu__item_svg__path {
  fill: #fff;
  opacity: 1;
}
/* line 137, _nav_.scss */
.ui__header .ui__header__inner .ui__header__content .ui__header__menu .ui__menu__list .ui__menu__item .ui__menu__dropdown {
  display: none;
  position: absolute;
  top: 50px -1;
  left: 0;
  width: 160px;
  background-color: #eaeaea;
  border: 1px solid #e0e0e0;
  border-top: 3px solid #6c9cd8;
  z-index: 3;
  text-align: left;
  color: #333;
}
/* line 150, _nav_.scss */
.ui__header .ui__header__inner .ui__header__content .ui__header__menu .ui__menu__list .ui__menu__item .ui__menu__dropdown .ui__menu__dropdown_item {
  display: block;
  height: auto;
  line-height: initial;
  padding: 10px 20px;
}
/* line 157, _nav_.scss */
.ui__header .ui__header__inner .ui__header__content .ui__header__menu .ui__menu__list .ui__menu__item .ui__menu__dropdown .ui__menu__dropdown_item:hover {
  color: #fff;
  background: #0d4870;
}

/* line 170, _nav_.scss */
.ui__menu__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 63px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
/* line 180, _nav_.scss */
.ui__menu__item:hover {
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
}
/* line 184, _nav_.scss */
.ui__menu__item a {
  text-decoration: none;
}
/* line 186, _nav_.scss */
.ui__menu__item a:hover {
  color: inherit;
}
/* line 191, _nav_.scss */
.ui__menu__item a .ui__menu__link {
  display: block;
  width: 100%;
}
/* line 198, _nav_.scss */
.ui__menu__item:hover .ui__menu__dropdown {
  display: block !important;
  background-color: red;
}

/* line 206, _nav_.scss */
#menu__shower {
  display: none;
}

@media screen and (max-width: 960px) {
  /* line 212, _nav_.scss */
  .ui__haut {
    display: block;
    margin-right: 0;
  }

  /* line 216, _nav_.scss */
  .ui__menu__item_svg {
    display: none;
  }

  /* line 220, _nav_.scss */
  #menu__shower {
    display: block;
    position: absolute;
    top: 17px;
    left: 10px;
  }

  /* line 230, _nav_.scss */
  .ui__header .ui__header__content .ui__header__menu {
    position: relative;
    margin: initial !important;
  }
  /* line 236, _nav_.scss */
  .ui__header .ui__header__content .ui__menu__list {
    position: absolute;
    top: 50px;
    left: 0;
    margin-right: 0;
    padding-left: 0;
    transform: translateX(-100%);
    display: block;
    width: 200px;
    z-index: 2000;
    background-color: #0d4870;
    padding-right: 0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s;
  }
  /* line 251, _nav_.scss */
  .ui__header .ui__header__content .ui__menu__list.show__menu__list {
    transform: translateX(0);
  }
  /* line 254, _nav_.scss */
  .ui__header .ui__header__content .ui__menu__list .ui__menu__item {
    display: block;
    text-align: left;
  }
  /* line 257, _nav_.scss */
  .ui__header .ui__header__content .ui__menu__list .ui__menu__item.has__child::before {
    content: "+";
    font-size: 0.8rem;
    margin-right: 2px;
  }
  /* line 262, _nav_.scss */
  .ui__header .ui__header__content .ui__menu__list .ui__menu__item.has__child .ui__menu__dropdown {
    display: none;
    position: static;
    width: 100%;
    border-top: none;
    z-index: 3;
    text-align: left;
  }
  /* line 270, _nav_.scss */
  .ui__header .ui__header__content .ui__menu__list .ui__menu__item.has__child .ui__menu__dropdown {
    display: block;
    animate: showDropdownMenu 5s;
  }
}
@media screen and (max-width: 567px) {
  /* line 285, _nav_.scss */
  .ui__haut .ui__haut__lien {
    display: block;
  }
  /* line 289, _nav_.scss */
  .ui__haut .ui__haut__logo {
    margin: 0 auto;
  }
}
@keyframes showDropdownMenu {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
