/* line 3, styles.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
Variable

*/
/* line 12, _styles_.scss */
html {
  font-size: 16px;
}
/* line 15, _styles_.scss */
html body {
  font-family: Roboto, Lato, Menlo, Arial, Sans Serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 23, _styles_.scss */
html body ul {
  margin: 0;
  padding: 0;
}

/* line 38, _styles_.scss */
.actu_ {
  display: flex;
  justify-content: space-between;
}

/* line 48, _styles_.scss */
.galerie__slid {
  display: flex;
  justify-content: space-between;
}

/* line 55, _styles_.scss */
.ui__slider__1 {
  width: 370px;
  max-height: 390px;
  overflow: hidden;
}
/* line 60, _styles_.scss */
.ui__slider__1 .ui__slider__1__slider__text {
  text-align: center;
}
/* line 63, _styles_.scss */
.ui__slider__1 .ui__slider__1__slides {
  display: flex;
  justify-content: space-between;
  width: calc(370px * 3);
  animation: glisse__1 10s infinite;
}
/* line 72, _styles_.scss */
.ui__slider__1 .ui__slider__1__slides .ui__slider__1__slides__slide {
  float: left;
}

/* line 83, _styles_.scss */
.ui__slider__2 {
  width: 370px;
  max-height: 390px;
  overflow: hidden;
}
/* line 89, _styles_.scss */
.ui__slider__2 .ui__slider__2__slider__text {
  text-align: center;
}
/* line 93, _styles_.scss */
.ui__slider__2 .ui__slider__2__slides {
  display: flex;
  justify-content: space-between;
  width: calc(370px * 3);
  animation: glisse__2 10s infinite;
}
/* line 102, _styles_.scss */
.ui__slider__2 .ui__slider__2__slides .ui__slider__2__slides__slide {
  float: left;
}

/* line 111, _styles_.scss */
.ui__slider__3 {
  width: 370px;
  max-height: 390px;
  overflow: hidden;
}
/* line 116, _styles_.scss */
.ui__slider__3 .ui__slider__3__slider__text {
  text-align: center;
}
/* line 120, _styles_.scss */
.ui__slider__3 .ui__slider__3__slides {
  display: flex;
  justify-content: space-between;
  width: calc(370px * 3);
  animation: glisse__1 10s infinite;
}
/* line 129, _styles_.scss */
.ui__slider__3 .ui__slider__3__slides .ui__slider__3__slides__slide {
  float: left;
}

@keyframes glisse__1 {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-370px);
  }
  43% {
    transform: translateX(-370px);
  }
  66% {
    transform: translateX(-740px);
  }
  76% {
    transform: translateX(-740px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glisse__2 {
  0% {
    transform: translateX(-740px);
  }
  10% {
    transform: translateX(-740px);
  }
  33% {
    transform: translateX(-370px);
  }
  43% {
    transform: translateX(-370px);
  }
  66% {
    transform: translateX(0);
  }
  76% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-740px);
  }
}
@keyframes glisse__3 {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-370px);
  }
  66% {
    transform: translateX(-740px);
  }
  100% {
    transform: translateX(0);
  }
}
/* line 234, _styles_.scss */
.ui__partenaire h2 {
  text-align: center;
}
/* line 245, _styles_.scss */
.ui__partenaire .ui__partenaire__cned .ui__partenaire__cned__text h3 {
  text-align: center;
}

/* line 255, _styles_.scss */
.footer_content {
  margin: 0 7px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
/* line 262, _styles_.scss */
.footer_content .footer__iner {
  display: flex;
  justify-content: space-between;
}

/* line 271, _styles_.scss */
.hide {
  display: none;
}

/* line 281, _styles_.scss */
.valeur .valeur__item {
  background-color: #46acb8;
  padding: 70px;
  border-radius: 50%;
}
