{% extends "base_.html" %}
{% load crispy_forms_tags %}
{% load static %}



{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'profile/register.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/plan_map.css' %}">

{% endblock %}

{% block content %}

    <div class="container">
      <div class="row centered-form">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Merci de nous laisser votre contact</h3>
            </div>

            <div class="panel-body">
                  <form action="" method="post" role="form" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                          {{ form.nom.label_tag }}
                          {{ form.nom }}
                           {% if form.nom.errors %}
                                 <small style="color: red">{{ form.nom.errors }}</small>
                          {% endif %}
                          
                        </div>

                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                          {{ form.prenom.label_tag }}
                          {{ form.prenom }}
                           {% if form.prenom.errors %}
                                 <small style="color: red">{{ form.prenom.errors }}</small>
                          {% endif %}
                        </div>

                      </div>
                    </div>

                     <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                          {{ form.telephone.label_tag }}
                          {{ form.telephone }}
                           {% if form.telephone.errors %}
                                 <small style="color: red">{{ form.telephone.errors }}</small>
                          {% endif %}
                        </div>

                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                          {{ form.email.label_tag }}
                          {{ form.email }}
                          {% if form.email.errors %}
                                <small style="color: red">{{ form.email.errors }}</small>
                          {% endif %}
                          
                        </div>

                      </div>
                    </div>



                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                          {{ form.subject.label_tag }}
                          {{ form.subject }}
                           {% if form.subject.errors %}
                                 <small style="color: red">{{ form.subject.errors }}</small>
                          {% endif %}
                        </div>

                      </div>

                    </div>


                     <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10 col-md-offset-1">
                        <div class="form-group">
                          {{ form.message.label_tag }}
                          {{ form.message }}
                              {% if form.message.errors %}
                                 <small style="color: red">{{ form.message.errors }}</small>
                              {% endif %}
                          <small style="display: none">{{ form.message.help_text }}</small>
                          
                        </div>

                      </div>
                    </div>

                    <input type="submit" value="Envoyer" name="" class="btn btn-info btn-block">




                  </form>
            </div>
          </div>
        </div>


        <div class="col-4 col-md-4 col-lg-4">
                    <div class="moduletable ">
                        <h5 class="module-title">Contactez-nous</h5>
                        <div class="custom">
                            <div class="address">
                                <div class="address-info d-flex mt-3">
                                    <div class="icon mr-2">
                                    <i class="fas fa-phone fa-rotate-90"></i>
                                    </div>

                                    <div class="content">+212 626 609 678</div>
                                </div>

                                <div class="address-info d-flex mt-3">
                                    <div class="icon mr-2">
                                    <i class="fas fa-phone fa-rotate-90"></i>
                                    </div>
                                    <div class="content">+212 524 304 798</div>
                                </div>

                                <div class="address-info d-flex mt-3">
                                    <div class="icon mr-2">
                                    <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="content">
                                        <a href="" class="__cf_email__" data-cfemail="">ecfsaintexupery@gmail.com</a>
                                    </div>
                                </div>
                                <div class="address-info d-flex mt-3">
                                    <div class="icon mr-2">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="content">Avenue Abou Oubaida - Daoudiate 40 000 Marrakech (Derrière l'imprimérie El Watanya et l'école HEEC)</div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    {% include "map.html" %}
        </div>


      </div>

     </div>
   </br>
 </br>
  {% endblock %}



  {% block sidbar %}
  {% endblock %}