{% load static %}


{% static 'images/images/slider/img-3.jpg' as image_url %}

{% include "base/entete.html" with title=title lien=lien image=image_url %}


<section id='section-2-1529739392758' class='astroid-section section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1529739392758" class="row astroid-row">
			<div id="astroid-column-1529739392758" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="position-2-1529739392758" style="" data-animation="" data-animation-delay="500"> 
					<div class="moduletable ">
						<div class="custom">
							<div class="row align-items-center">
								{% if instance.image %}
								<div class="col-lg-5">
									<img src="{{ instance.image.url }}" alt="Image">
								</div>
								{% endif %}
								<div class="col-lg-7">
									<div class="description">
										<h3 class="mb-4">{{ instance.title }}</h3>
															{% autoescape off %}
										    				{{ instance.content }}
															{% endautoescape %}
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
