	<h1>{{ instance.title }}</h1>
	<div class="row">
		{% if instance.image %}
		<div class="col col-5 col-xs-12 col-sm-5 col-md-5 col-lg-5">
			<div>
				<img src="{{ instance.image.url }}" width="100%">
			</div>
		</div>
		{% endif %}

		<div class="col col-7 col-xs-7 col-sm-7 col-md-7 col-lg-7">
			<div>
				<p>
					{% autoescape on %}
    				{{ instance.content }}
					{% endautoescape %}
					{{ instance.content|safe }}
					{{ instance.content|escape }}

				</p>
			</div>
		</div>


	</div>
