{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr-Fr" dir="ltr">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="HandheldFriendly" content="true" />
<meta name="apple-mobile-web-app-capable" content="YES" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
<meta charset="utf-8" />

<base  />

<title>Saint-Exupéry</title>
    {% include "base/css.html" %}

</head>
<body class="site astroid-framework com-content view-article layout-default itemid-101 home tp-style-11 ltr en-GB">
    <div id="astroid-preloader" class="d-flex align-items-center">
    <div class="sk-three-bounce"> <div class="sk-child sk-bounce1"></div><div class="sk-child sk-bounce2"></div><div class="sk-child sk-bounce3"></div></div>
    </div>
    <a id="astroid-backtotop" class="square" href="javascript:void(0)" style="background:rgb(245, 130, 32);">
        <i class="fas fa-chevron-up" style="font-size:15px; color:rgb(255, 255, 255);line-height:15px;  padding: 2px">
        </i>
    </a>
    <div class="astroid-container">


<!-- Start mobile  nav -->

        <div class="astroid-mobilemenu d-none d-init" data-class-prefix="astroid-mobilemenu" id="astroid-mobilemenu">
            <div class="burger-menu-button active">
            <button type="button" class="button close-offcanvas offcanvas-close-btn">
            <span class="box">
            <span class="inner"></span>
            </span>
            </button>
            </div>
            <ul class="astroid-mobile-menu d-none">
                <li class="nav-item nav-item-id-102 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                    <a href="{% url 'home' %}" title="Accueil" class=" nav-link item-link-component item-level-1" data-drop-action="hover">
                        <span class="nav-title">
                             Accueil 
                         </span>
                    </a>
                </li>


                <li class="nav-item nav-item-id-171 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-megamenu">
                    <a href="{% url 'presentation:presentation' %}" title="Le centre" class=" nav-link item-link-alias item-level-1" data-drop-action="hover">
                        <span class="nav-title">
                        Centre </span>
                    </a>

                    <ul class="nav-child list-group navbar-subnav level-1">
                        <li class="nav-item-submenu nav-item-id-172 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">
                            <ul class="nav-child list-group navbar-subnav level-2">
                                <li class="nav-item-submenu nav-item-id-175 nav-item-level-3 nav-item-parent nav-item-megamenu">
                                    <a href="{% url 'presentation:presentation' %}" title="La présentation" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                        <span class="nav-title">
                                        <i class="fas fa-users-class"></i>
                                        Présentation </span>
                                    </a>

                                </li>
                                <li class="nav-item-submenu nav-item-id-177 nav-item-level-3 nav-item-parent nav-item-megamenu">
                                <a href="{% url 'presentation:mot_directeur' %}" title="Mot de la direction" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                <span class="nav-title">
                                <i class="fas fa-file-word"></i>
                                Mot de la direction</span>
                                </a>

                                </li>
                            </ul>
                        </li>
                        <li class="nav-item-submenu nav-item-id-173 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">

                            <ul class="nav-child list-group navbar-subnav level-2">
                                <li class="nav-item-submenu nav-item-id-179 nav-item-level-3 nav-item-parent nav-item-megamenu">
                                    <a href="{% url 'presentation:equipe_pedagogique' %}" title="Équipe pédagogique" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                    <span class="nav-title">
                                    <i class="fas fa-users"></i>
                                    Équipe pédagogique </span>
                                    </a>

                                </li>
                                <li class="nav-item-submenu nav-item-id-180 nav-item-level-3 nav-item-parent nav-item-megamenu">
                                    <a href="{% url 'presentation:partenaires' %}" title="Nos parténaires" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                        <span class="nav-title">
                                        <i class="fas fa-street-view"></i>
                                        Parténaires</span>
                                    </a>

                                </li>
                            </ul>
                        </li>
                        <li class="nav-item-submenu nav-item-id-174 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">

                            <ul class="nav-child list-group navbar-subnav level-2">
                                <li class="nav-item-submenu nav-item-id-184 nav-item-level-3 nav-item-parent nav-item-megamenu">
                                    <a href="{% url 'fonctionnements:horaires' %}" title="Horaires" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                        <span class="nav-title">
                                        <i class="fab fa-algolia"></i>
                                        Horaires </span>
                                    </a>

                                </li>
                                <li class="nav-item-submenu nav-item-id-185 nav-item-level-3 nav-item-parent nav-item-megamenu">
                                    <a href="{% url 'fonctionnements:calendrier_scolaire' %}" title="calendrier scolaire" class=" nav-link item-link-component item-level-3" data-drop-action="hover">
                                        <span class="nav-title">
                                        <i class="far fa-calendar-alt"></i>
                                        Calendrier scolaire </span>
                                    </a>

                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>


                <li class="nav-item nav-item-id-135 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                    <a href="{% url 'cycles:presentation' %}" title="Cycles" class=" nav-link item-link-alias item-level-1" data-drop-action="hover">
                        <span class="nav-title">
                        Cycles </span>
                    </a>

                    <ul class="nav-child list-group navbar-subnav level-1">
                        <li class="nav-item-submenu nav-item-id-136 nav-item-level-2">
                        <a href="{% url 'cycles:primaire' %}" title="Primaire" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
                        <span class="nav-title">
                        Primaire </span>
                        </a>

                        </li><li class="nav-item-submenu nav-item-id-142 nav-item-level-2">
                        <a href="{% url 'cycles:college' %}" title="Collège" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
                        <span class="nav-title">
                        Collège </span>
                        </a>

                        </li><li class="nav-item-submenu nav-item-id-168 nav-item-level-2">
                        <a href="{% url 'cycles:lycee' %}" title="Lycée" class=" nav-link item-link-component item-level-2" data-drop-action="hover">
                        <span class="nav-title">
                        Lycée </span>
                        </a>

                        </li>

                    </ul>
                </li>
                <li class="nav-item nav-item-id-135 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                    <a href="{% url 'evenements:articles' %}" title="Événements" class=" nav-link item-link-alias item-level-1" data-drop-action="hover">
                        <span class="nav-title">
                        Événements </span>
                    </a>
                </li>
                <li class="nav-item nav-item-id-138 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                    <a href="{% url 'inscriptions:inscriptions' %}" title="Inscriptions" class=" nav-link item-link-alias item-level-1" data-drop-action="hover">
                        <span class="nav-title">Inscriptions</span>
                    </a>
                </li>
                <li class="nav-item nav-item-id-171 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-megamenu">
                    <a href="{% url 'contacts:formulaire' %}" title="Contacts" class=" nav-link item-link-alias item-level-1" data-drop-action="hover">
                        <span class="nav-title">Contacter</span>
                    </a>
                </li>
            </ul>
        </div>
<!-- End mobile nav -->


<!--Start content   -->
        <div class="astroid-content"> <!-- Start astroid-content -->

            <div style="" class="astroid-layout astroid-layout-wide">
                <div class="astroid-wrapper">
                    <section id='topbar-section-1101543823753523' class='astroid-section py-2 hideonxs hideonsm hideonmd' style='background-color:rgb(245, 130, 32)' data-animation='' data-animation-delay=''>    
                        <div class='container'>
                            <div id="astroid-row-491543823753523" class="row astroid-row">
                                <div id="astroid-column-561543823753523" class="astroid-column col-md-6 col-lg-6" style="" data-animation="" data-animation-delay="">
                                    <div class="astroid-module-position" id="topbar-1-511543823756330" style="" data-animation="" data-animation-delay=""> 
                                        <div class="moduletable  news-ticker">
                                            <div id="jd-newsticker178" class="jd-newsticker carousel slide" data-ride="carousel">

                                            <a href="{% url 'fonctionnements:infobules' %}">
                                                
                                            <p class="newsticker-label" style="margin-left: -30px;">Infos#:</p>
                                            </a>


                                                <div class="carousel-inner" style="max-width: 3463px">
                                                    {% if infobules %}
                                                    {% for infobule in infobules %}
                                                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                                        <div class="title">
                                                        <a href="{{ infobule.get_absolute_url }}">{{ infobule.info }}</a>
                                                        </div>
                                                    </div>
                                                    {% endfor %}


                                                    {% else %}
                                                    <div class="carousel-item active">
                                                        <div class="title">
                                                        <a href="{% url 'fonctionnements:infobules' %}">Le menu de la cantine : Haricot</a>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item ">
                                                        <div class="title">
                                                        <a href="{% url 'fonctionnements:infobules' %}">Ouverture des inscription 2020/2021</a>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>

                                                <div class="navigation">
                                                    <a class="carousel-control-prev" href="#jd-newsticker178" data-slide="prev">
                                                    <span class="carousel-control-prev-icon"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#jd-newsticker178" data-slide="next">
                                                    <span class="carousel-control-next-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
<!--                                         <div class="astroid-contact-info">
                                        </div> -->
                                    </div>
                                </div>
                                <div id="astroid-column-691543823754722" class="astroid-column col-md-6 col-lg-6" style="" data-animation="" data-animation-delay="">
                                    <div class="astroid-module-position float-lg-right" id="topbar-2-1071543823764546" style="" data-animation="" data-animation-delay=""> 
                                        <div class="moduletable ">
                                            <ul class="nav menu menu-module list-inline d-block secondary-menu">                                                
                                                <li>
                                                    <ul class="nav navVerticalView astroid-social-icons">
                                                        <li style="font-weight: 300">
                                                            <a style="color:inherit; color: blue; background-color: unset;" href="https://www.facebook.com/ecf.saintexupery/" target="_blank" rel="noopener"><i class="fab fa-facebook-f" style="font-size: 30px; color: blue; background-color: white"></i></a>
                                                        </li>
                                                        <li style="font-weight: 300">
                                                            <a style="color:inherit; background-color: unset;" href="https://www.instagram.com/ecf.saintex/" target="_blank" rel="noopener"><i class="fab fa-instagram" style="color: #f2f0ed; font-size: 30px;background-color: #e2480e; font-weight: 700"></i></a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="item-110">
                                                    <i class="fa fa-phone"></i>
                                                    <div style="display: inline-block; margin-left: 10px;">
                                                        <span style="display:block;">Nous contacter </span>
                                                        <span style="font-size: 20px; font-weight: 1000;"> +212 5 24 30 47 98
                                                        </span>
                                                    </di>
                                                </li>


                                                <li class="item-107" style="margin-left: 50px"><a href="https://e212075r.index-education.net/pronote" target="_blank">
                                                    <img src="{% static 'images/logos/pronote.png' %}" alt="Le portail de pronote" style="width: 77px; height: 60px; margin-top: -40px;">
                                                </a>
                                                </li>

                                            </ul> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id='header-section-1529472563843' class='astroid-section astroid-header-section' style='' data-animation='' data-animation-delay=''>  
                        <div class='container'>
                            <div id="astroid-row-1529472563843" class="row astroid-row">
                                <div id="astroid-column-1529472563843" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
                                    <div class="astroid-module-position" id="astroid-header-1529472563843" style="" data-animation="" data-animation-delay="500">
                                        <header data-megamenu data-megamenu-class=".has-megamenu" data-megamenu-content-class=".megamenu-container" data-dropdown-arrow="true" data-header-offset="true" data-transition-speed="100" data-animation="slide" data-easing="easeInBack" data-trigger="hover" data-megamenu-submenu-class=".nav-submenu,.nav-submenu-static" id="astroid-header" class="astroid-header astroid-horizontal-header astroid-horizontal-right-header">

                                            <div class="d-flex flex-row justify-content-between">

                                                <div class="d-flex d-lg-none justify-content-start">
                                                    <div class="header-mobilemenu-trigger d-lg-none burger-menu-button align-self-center" data-offcanvas="#astroid-mobilemenu" data-effect="mobilemenu-slide">
                                                        <button class="button" type="button">
                                                            <span class="box">
                                                            <span class="inner"></span></span>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="header-left-section d-flex justify-content-between">


                                                    <a class="astroid-logo astroid-logo-image d-flex align-items-center mr-0 mr-lg-4" href="{% url 'home' %}">
                                                    <img src="{% static 'images/logos/Logo_ECF1.png' %}" alt="ECF Saint-Exupéry" class="astroid-logo-default" />
                                                    <img src="{% static 'images/logos/Logo_ECF1.png' %}" alt="JD Gurrkul" class="astroid-logo-mobile" />
                                                    <img src="{% static 'images/logos/Logo_ECF1.png' %}" alt="ECF Saint-Exupéry" class="astroid-logo-sticky" />
                                                    </a>



                                                </div>

                                                <div class="header-right-section d-flex justify-content-end">
                                                    <div class=" align-self-center px-2 d-none d-lg-block">
                                                        <ul class="nav astroid-nav d-none d-lg-flex">
                                                            <li data-position="left" class="nav-item nav-item-id-102 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                                                                <a href="{% url 'home' %}" title="Accueil" class=" nav-link megamenu-item-link item-link-component item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">
                                                                    Accueil
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li data-position="left" class="nav-item nav-item-id-104 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                                                                <a href="#" title="Le centre" class=" nav-link item-link-component item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">
                                                                    Centre   <i class="fa fa-chevron-down nav-item-caret"></i></span>
                                                                </a>

                                                                <div style="width:800px" class="megamenu-container">
                                                                    <div class="row m-0">
                                                                        <div class="col col-md-">
                                                                            <ul class="nav-submenu megamenu-submenu-level-1">
                                                                                <li class="megamenu-menu-item nav-item-submenu nav-item-id-172 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">
                                                                                    <ul class="nav-submenu-static d-block">
                                                                                        <li class="nav-item-submenu nav-item-id-182 nav-item-level-3" style="width: max-content;">
                                                                                            <a href="{% url 'presentation:presentation' %}" title="Présentation du centre" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                <i class="fas fa-newspaper"></i>
                                                                                                Présentation </span>
                                                                                            </a>

                                                                                        </li>                
                                                                                        <li class="nav-item-submenu nav-item-id-176 nav-item-level-3" style="width: max-content;">
                                                                                            <a href="{% url 'presentation:mot_directeur' %}" title="Mot de la direction" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                <i class="fas fa-file-word"></i>
                                                                                                Mot de la direction </span>
                                                                                            </a>

                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col col-md-4">
                                                                            <ul class="nav-submenu megamenu-submenu-level-1">
                                                                                <li class="megamenu-menu-item nav-item-submenu nav-item-id-173 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">
                                                                                    <ul class="nav-submenu-static d-block">
                                                                                        <li class="nav-item-submenu nav-item-id-179 nav-item-level-3" style="width: max-content;">
                                                                                            <a href="{% url 'presentation:equipe_pedagogique' %}" title="L'équipe pédagogique" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                <i class="fas fa-users"></i>
                                                                                                Equipe pédagogique </span>
                                                                                            </a>

                                                                                        </li>
                                                                                        <li class="nav-item-submenu nav-item-id-180 nav-item-level-3" style="width: max-content;">
                                                                                            <a href="{% url 'presentation:partenaires' %}" title="Nos partenaires" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                <i class="fas fa-street-view"></i>
                                                                                                Partenaires </span>
                                                                                            </a>

                                                                                        </li>
                                                                                    </ul>
                                                                                </li>

                                                                            </ul>
                                                                        </div>

                                                                        <div class="col col-md-4">
                                                                            <ul class="nav-submenu megamenu-submenu-level-1">
                                                                                <li class="megamenu-menu-item nav-item-submenu nav-item-id-174 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">
                                                                                    <ul class="nav-submenu-static d-block">
                                                                                        <li class="nav-item-submenu nav-item-id-184 nav-item-level-3">
                                                                                            <a href="{% url 'fonctionnements:horaires' %}" title="Les horaires" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                    <i class="fab fa-algolia"></i>
                                                                                                Horaires </span>
                                                                                            </a>

                                                                                        </li>
                                                                                        <li class="nav-item-submenu nav-item-id-185 nav-item-level-3">
                                                                                            <a href="{% url 'fonctionnements:calendrier_scolaire' %}" title="Le calendrier scolaire" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                    <i class="far fa-calendar-alt"></i>
                                                                                                    Calendrier scolaire 
                                                                                                </span>
                                                                                            </a>

                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                            <li data-position="left" class="nav-item nav-item-id-106 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                                                                <a href="{% url 'cycles:presentation' %}" title="Les cycles" class=" nav-link item-link-component item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">
                                                                    Cycles  <i class="fa fa-chevron-down nav-item-caret"></i></span>
                                                                </a>

                                                                <div style="width:280px" class="megamenu-container nav-submenu-container nav-item-level-1">
                                                                    <ul class="nav-submenu">
                                                                        <li data-position="right" class="nav-item-submenu nav-item-id-128 nav-item-level-2">
                                                                            <a href="{% url 'cycles:presentation' %}" title="Présentation des cycles" class=" item-link-component item-level-2" data-drop-action="hover">
                                                                                <span class="nav-title">
                                                                                Présentation des cylces </span>
                                                                            </a>

                                                                        </li>
                                                                        <li data-position="right" class="nav-item-submenu nav-item-id-105 nav-item-level-2">
                                                                            <a href="{% url 'cycles:primaire' %}" title="Primaire" class=" item-link-component item-level-2" data-drop-action="hover">
                                                                                <span class="nav-title">
                                                                                Primaire </span>
                                                                            </a>

                                                                        </li>
                                                                        <li data-position="right" class="nav-item-submenu nav-item-id-105 nav-item-level-2">
                                                                            <a href="{% url 'cycles:college' %}" title="Collège" class=" item-link-component item-level-2" data-drop-action="hover">
                                                                                <span class="nav-title">
                                                                                Collège </span>
                                                                            </a>

                                                                        </li>

                                                                        <li data-position="right" class="nav-item-submenu nav-item-id-105 nav-item-level-2">
                                                                            <a href="{% url 'cycles:lycee' %}" title="Lycée" class=" item-link-component item-level-2" data-drop-action="hover">
                                                                                <span class="nav-title">
                                                                                Lycée </span>
                                                                            </a>

                                                                        </li>
                                                                                                                                             

                                                                    </ul>
                                                                </div>

                                                            </li>
                                                            <li data-position="left" class="nav-item nav-item-id-135 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                                                                <a href="{% url 'evenements:articles' %}" title="Les événements et articles" class=" nav-link megamenu-item-link item-link-alias item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">
                                                                    Événements
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li data-position="left" class="nav-item nav-item-id-138 nav-item-level-1">
                                                                <a href="{% url 'inscriptions:inscriptions' %}" title="Inscription" class=" nav-link megamenu-item-link item-link-alias item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">
                                                                    Inscription
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li data-position="left" class="nav-item nav-item-id-138 nav-item-level-1">
                                                                <a href="{% url 'candidatures:candidature' %}" title="Déposer une candidature" class=" nav-link megamenu-item-link item-link-alias item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">
                                                                    Postuler
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li data-position="right" class="nav-item nav-item-id-171 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-megamenu">
                                                                <a href="{% url 'contacts:formulaire' %}" title="Contacts" class=" nav-link megamenu-item-link item-link-alias item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">
                                                                    Contacts
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                            </div>
                                        </header>
<!-- Start display none -->

                                        <div id="astroid-sticky-header" data-megamenu data-megamenu-class=".has-megamenu" data-megamenu-content-class=".megamenu-container" data-dropdown-arrow="true" data-header-offset="true" data-transition-speed="100" data-animation="slide" data-easing="easeInBack" data-trigger="hover" data-megamenu-submenu-class=".nav-submenu" class="astroid-header astroid-header-sticky header-stickyonscroll-desktop header-stickyonscroll-mobile header-stickyonscroll-tablet d-none">
                                            <div class="container d-flex flex-row justify-content-between">
                                                <div class="d-flex d-lg-none justify-content-start">
                                                    <div class="header-mobilemenu-trigger d-lg-none burger-menu-button align-self-center" data-offcanvas="#astroid-mobilemenu" data-effect="mobilemenu-slide">
                                                        <button class="button" type="button"><span class="box"><span class="inner"></span></span></button>
                                                    </div>
                                                </div>
                                                <div class="header-left-section d-flex justify-content-between">



                                                    <a class="astroid-logo astroid-logo-image d-flex align-items-center mr-0 mr-lg-4" href="{% url 'home' %}">
                                                    <img src="{% static 'images/logos/logo.png' %}" alt="ECF Saint-Exupéry" class="astroid-logo-default" />
                                                    <img src="{% static 'images/logos/logo.png' %}" alt="ECF Saint-Exupéry" class="astroid-logo-mobile" />
                                                    <img src="{% static 'images/logos/logo.png' %}" alt="ECF Saint-Exupéry" class="astroid-logo-sticky" />
                                                    </a>

                                                </div>

                                                <div class="header-right-section d-flex justify-content-end">
                                                    <div class=" astroid-nav-wraper align-self-center px-2 d-none d-lg-block ml-auto">
                                                        <ul class="nav astroid-nav d-none d-lg-flex">
                                                            <li data-position="left" class="nav-item nav-item-id-102 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                                                                <a href="index.php/about.html" title="About" class=" nav-link megamenu-item-link item-link-component item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">Accueil</span>
                                                                </a>
                                                            </li>
                                                            <li data-position="left" class="nav-item nav-item-id-104 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                                                                <a href="#" title="Our Programs" class=" nav-link item-link-component item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">
                                                                    Centre   <i class="fa fa-chevron-down nav-item-caret"></i></span>
                                                                </a>

                                                                <div style="width:800px" class="megamenu-container">
                                                                    <div class="row m-0">
                                                                        <div class="col col-md-4">
                                                                            <ul class="nav-submenu megamenu-submenu-level-1">
                                                                                <li class="megamenu-menu-item nav-item-submenu nav-item-id-172 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">
                                                                                    <ul class="nav-submenu-static d-block">
                                                                                        <li class="nav-item-submenu nav-item-id-182 nav-item-level-3">
                                                                                            <a href="{% url 'presentation:presentation' %}" title="Présentation du centre" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                <i class="fas fa-tablet-alt"></i>
                                                                                                Présentation </span>
                                                                                            </a>

                                                                                        </li>
                                                                                        <li class="nav-item-submenu nav-item-id-176 nav-item-level-3">
                                                                                            <a href="{% url 'presentation:mot_directeur' %}" title="Mot de la direction" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                <i class="fas fa-flask"></i>
                                                                                                Mot de la direction </span>
                                                                                            </a>

                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col col-md-4">
                                                                            <ul class="nav-submenu megamenu-submenu-level-1">
                                                                                <li class="megamenu-menu-item nav-item-submenu nav-item-id-173 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">

                                                                                    <ul class="nav-submenu-static d-block">
                                                                                        <li class="nav-item-submenu nav-item-id-179 nav-item-level-3">
                                                                                            <a href="{% url 'presentation:equipe_pedagogique' %}" title="L'équipe pédagogique" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                <i class="fas fa-music"></i>
                                                                                                Equipe pédagogique </span>
                                                                                            </a>

                                                                                        </li>
                                                                                        <li class="nav-item-submenu nav-item-id-180 nav-item-level-3">
                                                                                            <a href="{% url 'presentation:partenaires' %}" title="Nos partenaires" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                <i class="fas fa-street-view"></i>
                                                                                                Partenaires </span>
                                                                                            </a>

                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                        <div class="col col-md-4">
                                                                            <ul class="nav-submenu megamenu-submenu-level-1">
                                                                                <li class="megamenu-menu-item nav-item-submenu nav-item-id-174 nav-item-level-2 nav-item-deeper nav-item-parent nav-item-megamenu">
                                                                                    <ul class="nav-submenu-static d-block">
                                                                                        <li class="nav-item-submenu nav-item-id-184 nav-item-level-3">
                                                                                            <a href="{% url 'fonctionnements:horaires' %}" title="Les horaires" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                    <i class="fas fa-swimmer"></i>
                                                                                                Horaires</span>
                                                                                            </a>

                                                                                        </li>
                                                                                        <li class="nav-item-submenu nav-item-id-185 nav-item-level-3">
                                                                                            <a href="{% url 'fonctionnements:calendrier_scolaire' %}" title="Le calendrier scolaire" class=" item-link-component item-level-3" data-drop-action="hover">
                                                                                                <span class="nav-title">
                                                                                                    <i class="fas fa-book-reader"></i>
                                                                                                Calendrier scolaire </span>
                                                                                            </a>

                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>    



                                                            </li>
                                                            <li data-position="left" class="nav-item nav-item-id-106 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                                                                <a href="{% url 'cycles:presentation' %}" title="Les cycles" class=" nav-link item-link-component item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">
                                                                    Cycles  <i class="fa fa-chevron-down nav-item-caret"></i></span>
                                                                </a>

                                                                <div style="width:280px" class="megamenu-container nav-submenu-container nav-item-level-1">
                                                                    <ul class="nav-submenu">
                                                                        <li data-position="right" class="nav-item-submenu nav-item-id-128 nav-item-level-2">
                                                                            <a href="{% url 'cycles:presentation' %}" title="Présentation des cycles" class=" item-link-component item-level-2" data-drop-action="hover">
                                                                                <span class="nav-title">
                                                                                Présentation des cylces </span>
                                                                            </a>

                                                                        </li>
                                                                        <li data-position="right" class="nav-item-submenu nav-item-id-105 nav-item-level-2">
                                                                            <a href="{% url 'cycles:primaire' %}" title="Primaire" class=" item-link-component item-level-2" data-drop-action="hover">
                                                                                <span class="nav-title">
                                                                                Primaire </span>
                                                                            </a>

                                                                        </li>
                                                                        <li data-position="right" class="nav-item-submenu nav-item-id-105 nav-item-level-2">
                                                                            <a href="{% url 'cycles:college' %}" title="Collège" class=" item-link-component item-level-2" data-drop-action="hover">
                                                                                <span class="nav-title">
                                                                                Collège </span>
                                                                            </a>

                                                                        </li>

                                                                        <li data-position="right" class="nav-item-submenu nav-item-id-105 nav-item-level-2">
                                                                            <a href="{% url 'cycles:lycee' %}" title="Lycée" class=" item-link-component item-level-2" data-drop-action="hover">
                                                                                <span class="nav-title">
                                                                                Lycée </span>
                                                                            </a>

                                                                        </li>
                                                                                                                                             

                                                                    </ul>
                                                                </div>

                                                            </li>
                                                            <li data-position="left" class="nav-item nav-item-id-135 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-dropdown">
                                                                <a href="{% url 'evenements:articles' %}" title="Événements et articles" class=" nav-link megamenu-item-link item-link-alias item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">Événements</span>
                                                                </a>
   
                                                            </li>

                                                           <li data-position="left" class="nav-item nav-item-id-138 nav-item-level-1">
                                                                <a href="{% url 'inscriptions:inscriptions' %}" title="Inscription" class=" nav-link megamenu-item-link item-link-alias item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">Inscription</span>
                                                                </a>
                                                            </li>
                                                           <li data-position="left" class="nav-item nav-item-id-138 nav-item-level-1">
                                                                <a href="{% url 'candidatures:candidature' %}" title="Déposer une candidature" class=" nav-link megamenu-item-link item-link-alias item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">Postuler</span>
                                                                </a>
                                                            </li>
                                                            <li data-position="right" class="nav-item nav-item-id-171 nav-item-level-1 nav-item-deeper nav-item-parent has-megamenu nav-item-megamenu">
                                                                <a href="{% url 'contacts:formulaire' %}" title="Contacter" class=" nav-link megamenu-item-link item-link-alias item-level-1" data-drop-action="hover">
                                                                    <span class="nav-title">Contacter</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>


                                        <!-- End display none -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End nav -->

                    <!-- Start home  -->

                        {% block content %}
                        {% endblock content %}
                    
                    <!-- End home  -->

                    <!-- Start footer -->
                        {% block footer %}
                            {% include "base/footer.html" %}
                        {% endblock footer %}
                    <!-- End footer -->

                </div> <!-- End astroid-content -->

<!-- End content  -->



            </div>

        </div>

    </div>

    {% include "base/js.html"  %}

{% block js_code %}
{% endblock js_code %}
</body>
</html>
