{% load static %}
{% load i18n %}

 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="fr-FR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    <meta name="description" content="Un établissement d'enseignement préuniversitaire dont: primaire collège et lycée à Marrakech en conformité avec le système éducatif français">
    <meta name="keywords" content="Centre cned saintexupery, centrecnedsaintexupery.com, Etablissement d'enseignement scolaire au centre de Marrakech dispensant les cours du primaire, collège et lycée en conformité avec le système éducatif français">
    <meta name="google-site-verification" content="-520MLqvtxVqTrIS0K1O7t9Q7VXzZt3Gumbr2I-zWoc" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">



        <!-- Jetpack Open Graph Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Centre cned saintexupery, centrecnedsaintexupery.com, Etablissement d'enseignement scolaire au centre de Marrakech dispensant les cours du primaire, collège et lycée en conformité avec le système éducatif français" />
    <meta property="og:url" content="https://www.centrecnedsaintexupery.com/" />
    <meta property="og:site_name" content="Centre cned saintexupery, centrecnedsaintexupery.com, Etablissement d'enseignement scolaire au centre de Marrakech dispensant les cours du primaire, collège et lycée en conformité avec le système éducatif français" />
    <meta property="og:image" content="{% static 'images/logos/flaticon.png' %}" />
    <meta property="og:locale" content="fr_FR" />
    <meta name="twitter:site" content="@MarketSyli" />
    <meta name="twitter:text:title" content="home" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="VVoir l&rsquo;article pour en savoir plus." />

    <link rel="canonical" href="https://www.centrecnedsaintexupery.com/">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta property="fb:app_id" content="852843861727440">



    <link rel="icon" href="{% static 'images/logos/flaticon.png' %}">

    <title>Saint Exupéry</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Carousel -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <script src="{% static 'js/carousel.js' %}" async="true"></script>



    {% block css %}{% endblock css %}


    <!-- Custom styles for this template -->
    <!-- <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet"> -->
  </head>

  <body>

    {% include "nav.html" %}

    <main role="main" class="main">

 
                {% block content %}
                {% endblock content %}

            <hr>

            {% block plan_map %}

            {% endblock plan_map %}


            <div class="footer">
            {% block footer %}


              {% include "footer.html" %}
           {% endblock footer %}
            </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/holder.js' %}"></script>



    {% block js %}

    {% endblock js %}
  </body>
</html>
