
{% extends "base_.html" %}

{% load static %}

{% block content %}

<section id='banner-section-1532936603488' class='astroid-section banner-section' style='' data-animation='' data-animation-delay=''>
	<div id="astroid-row-1532936603488" class="row no-gutters astroid-row">
		<div id="astroid-column-1532936603488" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
			<div class="astroid-banner text-center text-white" id="banner-1532936878566" style="" data-animation="" data-animation-delay="500"> 
				<div style="background-image: url({% static 'images/images/slider/img-2.jpg' %})" class="astroid-banner-inner ">
				<h2 class="astroid-banner-title" style="color:">Articles & Évènements</h2> 
				</div>
			</div>
		</div>
	</div>
</section>

<section id='breadcrumbs-section-1031544185584130' class='astroid-section breadcrumbs-section' style='' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1061544185584130" class="row astroid-row">
			<div id="astroid-column-281544185584130" class="astroid-column col-lg-12" style="" data-animation="" data-animation-delay="500">
				<div class="astroid-module-position" id="breadcrumbs-951544185587659" style="" data-animation="" data-animation-delay=""> 
					<div class="moduletable ">
						<div class="breadcrumb-wraper">
							<ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
								<li class="active">
								<span class="divider icon-location"></span>
								</li>
								<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
								<a itemprop="item" href="{% url 'home' %}" class="pathway"><span itemprop="name">Accueil</span></a>
								<span class="divider">
								&gt; </span>
								<meta itemprop="position" content="1">
								</li>
								<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="active">
								<span itemprop="name">
								Aritcles et Évènements </span>
								<meta itemprop="position" content="2">
							</li>
							</ul>
						</div> 

					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<section id='content-section-1528971561366' class='astroid-section astroid-component-section section' style='background-color:rgb(247, 247, 247)' data-animation='' data-animation-delay=''>
	<div class='container'>
		<div id="astroid-row-1528971561366" class="row astroid-row">
			<div id="astroid-column-1528971561366" class="astroid-column col-lg-9" style="" data-animation="" data-animation-delay="">
				<div class="astroid-message" id="messages-1528971711775" style="" data-animation="" data-animation-delay="">
					<div id="system-message-container">
					</div>
				</div>
				<div class="astroid-component" id="component-area-1529739248826" style="" data-animation="" data-animation-delay="">
					<div class="astroid-component-area">
						<div class="blog" itemscope itemtype="https://schema.org/Blog">
							<div class="items-row row-0 row clearfix">
							<!-- Start forloop -->
								<div class="col-lg-6 p-3">
									<div class="card h-100">
										<article class="item column-1" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
											<div class="pull-left item-image">
												<a href="" >									
													<img src="{% static 'images/images/blog/students-lifestyle-e-learning-with-laptop-PQC9H6B.jpg' %}" alt="" itemprop="thumbnailUrl" />
												</a>
											</div>
											<div class="card-body has-badge has-image">
											 	<div class="article-badge article-badge-6">Trending</div>
												<div class="article-title item-title">
														<div class="page-header">
														<h2 itemprop="name">
														<a href="#" itemprop="url">
														Steps to Guide Children </a>
														</h2>
													</div>
												</div>
												<dl class="article-info muted">
													<dd class="createdby" itemprop="author" itemscope itemtype="https://schema.org/Person">
														<i class="far fa-user"></i>
														<span itemprop="name">Super User</span> 
													</dd>
													<dd class="published">
														<i class="far fa-calendar-check"></i>
														<time datetime="2018-12-18T04:52:00+00:00" itemprop="datePublished">
														Published: 18 December 2018 </time>
													</dd>
													<dd class="readtime">
														<i class="far fa-clock"></i>
														<span>Read Time: 2 mins</span>
													</dd>
												</dl> 
												<div class="article-intro-text">
													<p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
												</div>
												<div class="readmore mb-0">
													<a class="btn btn-link rea#" itemprop="url" aria-label="Read more:  Steps to Guide Children">
													Read more ... 
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<!-- End forloop -->

								<div class="col-lg-6 p-3">
									<div class="card h-100">
										<article class="item column-2" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
											<div class="pull-left item-image">
												<a href="#"><img src="{% static 'images/images/blog/diversity-students-learning-in-the-classroom-PPFWKXL.jpg' %}" alt="" itemprop="thumbnailUrl" /></a>
											</div>
											<div class="card-body has-image">
												<div class="article-title item-title">
													<div class="page-header">
														<h2 itemprop="name">
														<a href="#" itemprop="url">
														What to Say Your Child </a>
														</h2>
													</div>
												</div>
												<dl class="article-info muted">
													<dd class="createdby" itemprop="author" itemscope itemtype="https://schema.org/Person">
													<i class="far fa-user"></i>
													<span itemprop="name">Super User</span> </dd>
													<dd class="published">
													<i class="far fa-calendar-check"></i>
													<time datetime="2018-12-18T04:42:36+00:00" itemprop="datePublished">
													Published: 18 December 2018 </time>
													</dd>
													<dd class="readtime">
													<i class="far fa-clock"></i>
													<span>Read Time: 2 mins</span>
													</dd>
												</dl> 
												<div class="article-intro-text">
													<p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p>
												</div>
												<div class="readmore mb-0">
													<a class="btn btn-link readmore-btn" href="#" itemprop="url" aria-label="Read more:   What to Say Your Child">
													Read more ... 
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
						<div class="items-row row-1 row clearfix">
						<div class="col-lg-6 p-3">
						<div class="card h-100">
						<article class="item column-1" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
						<div class="pull-left item-image">
						<a href="#"><img src="{% static 'images/images/blog/library.jpg' %}" alt="" itemprop="thumbnailUrl" /></a>
						</div>
						<div class="card-body has-image">
						<div class="article-title item-title">
						<div class="page-header">
						<h2 itemprop="name">
						<a href="#" itemprop="url">
						The Latest Trend In Library </a>
						</h2>
						</div>
						</div>
						<dl class="article-info muted">
						<dd class="createdby" itemprop="author" itemscope itemtype="https://schema.org/Person">
						<i class="far fa-user"></i>
						<span itemprop="name">Super User</span> </dd>
						<dd class="published">
						<i class="far fa-calendar-check"></i>
						<time datetime="2019-01-09T11:03:20+00:00" itemprop="datePublished">
						Published: 09 January 2019 </time>
						</dd>
						<dd class="readtime">
						<i class="far fa-clock"></i>
						<span>Read Time: 2 mins</span>
						</dd>
						</dl> <div class="article-intro-text"><p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p></div>
						<div class="readmore mb-0">
						<a class="btn btn-link readmore-btn" href="#" itemprop="url" aria-label="Read more:  The Latest Trend In Library">
						Read more ... </a>
						</div>
						</div>
						</article></div>
						</div>
						<div class="col-lg-6 p-3">
						<div class="card h-100">
						<article class="item column-2" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
						<div class="pull-left item-image">
						<a href="#"><img src="{% static 'images/images/blog/young-female-student-outdoors-CEQJ273.jpg' %}" alt="" itemprop="thumbnailUrl" /></a>
						</div>
						<div class="card-body has-image">
						<div class="article-title item-title">
						<div class="page-header">
						<h2 itemprop="name">
						<a href="#" itemprop="url">
						Tips Regarding Education </a>
						</h2>
						</div>
						</div>
						<dl class="article-info muted">
						<dd class="createdby" itemprop="author" itemscope itemtype="https://schema.org/Person">
						<i class="far fa-user"></i>
						<span itemprop="name">Super User</span> </dd>
						<dd class="published">
						<i class="far fa-calendar-check"></i>
						<time datetime="2018-12-14T12:40:05+00:00" itemprop="datePublished">
						Published: 14 December 2018 </time>
						</dd>
						<dd class="readtime">
						<i class="far fa-clock"></i>
						<span>Read Time: 2 mins</span>
						</dd>
						</dl> <div class="article-intro-text"><p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p></div>
						<div class="readmore mb-0">
						<a class="btn btn-link readmore-btn" href="#" itemprop="url" aria-label="Read more:  Tips Regarding Education">
						Read more ... </a>
						</div>
						</div>
						</article></div>
						</div>
						</div>
						 <div class="items-row row-2 row clearfix">
						<div class="col-lg-6 p-3">
						<div class="card h-100">
						<article class="item column-1" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
						<div class="pull-left item-image">
						<a href="#"><img src="{% static 'images/images/blog/students-listening-to-female-teacher-in-classroom.jpg' %}" alt="" itemprop="thumbnailUrl" /></a>
						</div>
						<div class="card-body has-image">
						<div class="article-title item-title">
						<div class="page-header">
						<h2 itemprop="name">
						<a href="#" itemprop="url">
						Love With Students </a>
						</h2>
						</div>
						</div>
						<dl class="article-info muted">
						<dd class="createdby" itemprop="author" itemscope itemtype="https://schema.org/Person">
						<i class="far fa-user"></i>
						<span itemprop="name">Super User</span> </dd>
						<dd class="published">
						<i class="far fa-calendar-check"></i>
						<time datetime="2018-12-18T04:46:02+00:00" itemprop="datePublished">
						Published: 18 December 2018 </time>
						</dd>
						<dd class="readtime">
						<i class="far fa-clock"></i>
						<span>Read Time: 2 mins</span>
						</dd>
						</dl> <div class="article-intro-text"><p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p></div>
						<div class="readmore mb-0">
						<a class="btn btn-link readmore-btn" href="#" itemprop="url" aria-label="Read more:  Love With Students">
						Read more ... </a>
						</div>
						</div>
						</article></div>
						</div>
						<div class="col-lg-6 p-3">
						<div class="card h-100">
						<article class="item column-2" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
						<div class="pull-left item-image">
						<a href="#"><img src="{% static 'images/images/blog/multinational-group-of-cheerful-students-studying.jpg' %}" alt="" itemprop="thumbnailUrl" /></a>
						</div>
						<div class="card-body has-image">
						<div class="article-title item-title">
						<div class="page-header">
						<h2 itemprop="name">
						<a href="#" itemprop="url">
						Trouble with Time-Outs </a>
						</h2>
						</div>
						</div>
						<dl class="article-info muted">
						<dd class="createdby" itemprop="author" itemscope itemtype="https://schema.org/Person">
						<i class="far fa-user"></i>
						<span itemprop="name">Super User</span> </dd>
						<dd class="published">
						<i class="far fa-calendar-check"></i>
						<time datetime="2018-12-18T04:57:35+00:00" itemprop="datePublished">
						Published: 18 December 2018 </time>
						</dd>
						<dd class="readtime">
						<i class="far fa-clock"></i>
						<span>Read Time: 2 mins</span>
						</dd>
						</dl> <div class="article-intro-text"><p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled</p></div>
						<div class="readmore mb-0">
						<a class="btn btn-link readmore-btn" href="#" itemprop="url" aria-label="Read more:  Trouble with Time-Outs ">
						Read more ... </a>
						</div>
						</div>
						</article></div>
						</div>
						</div>
						<!-- End comment  -->
						<div class="cat-children">
						</div>
						<div class="mt-3">
						<nav role="navigation" aria-label="Pagination"><ul class="pagination"><li class="d-none page-item"><a><span class="icon-first" aria-hidden="true"></span></a></li><li class="d-none page-item"><a><span class="icon-previous" aria-hidden="true"></span></a></li><li class="active page-item"><a class="page-link" href="#" aria-current="true" aria-label="Page 1">1</a></li><li class="hideonxs page-item"><a title="2" href="news034f.html?start=6" class="pagenav page-link" aria-label="Go to page 2">2</a></li><li class="page-item"><a title="Next" href="news034f.html?start=6" class="pagenav page-link" aria-label="Go to next page"><i class="fas fa-forward fa-xs"></i></a></li><li class="page-item"><a title="End" href="news034f.html?start=6" class="pagenav page-link" aria-label="Go to end page"><i class="fas fa-fast-forward fa-xs"></i></a></li></ul></nav> <p class="counter d-flex justify-content-center"> Page 1 of 2 </p>
						</div>
						</div>
</div></div></div><div id="astroid-column-1530100662663" class="astroid-column col-lg-3" style="" data-animation="" data-animation-delay="500"><div class="astroid-module-position sidebar-right" id="right-921547012999688" style="" data-animation="" data-animation-delay=""> <div class="moduletable p-0">
<h4 class="module-title">Categories</h4>
<ul class="categories-module list-group list-group-flush">
<li class="list-group-item border-0 py-0 px-0">
<h4>
<a href="#">
Class Blog </a>
</h4>
</li>
<li class="list-group-item border-0 py-0 px-0">
<h4>
<a href="#">
Library Blog </a>
</h4>
</li>
<li class="list-group-item border-0 py-0 px-0">
<h4>
<a href="#">
Personal Educator Blog </a>
</h4>
</li>
<li class="list-group-item border-0 py-0 px-0">
<h4>
<a href="#">
Group Blog </a>
</h4>
</li>
</ul> </div>
</div></div></div></div></section>

{% endblock content %}