{% extends "base_.html" %}

{% load  crispy_forms_tags %}
{% load static %}


{% block css %}

		<style type="text/css">
		img{
			width: 100%;
		}

		li{
			list-style: initial;
		}
	</style>

{% endblock css %}





{% block content %}


	<div class="container">

		<br><br>
		<h3 class="text-center lead">{{ instance.title }}</h3>
		<hr>
		<div class="row">
			<div class="col-10 col-md-10 col-sm-12 col-xs-12">
				{{ instance.content }}
			</div>
		</div>
		<hr>



		<div class="row">


			{% for image in photos %}

    	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><img src="{{ image.photos.url }}"></div> <br>
			
			{% endfor %}
		</div>



		<br><br>



		<div class="row">
			<!-- <div class="col-offset-3 col-sm-offset-1 col-md-offset-3 col-lg-offset-3"></div> -->
			<div class="col text-center">			
				{% if request.user.is_authenticated %}
					<div class="row">
						  <div class="col-sm-8 col-sm-offset-2">

							  <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" 	data-numposts="5">
						  	
							  </div>
								<a href="" class="toggle text-center"  style="color: blue"><span class="glyphicon glyphicon-comment" ></span>Commenter</a>
								<form method="POST" action="{% url 'evenements:detail' id=instance.id slug=instance.slug %}" class="form hide" >
									{% csrf_token %}

									{{ form|crispy }}

									<input type="submit" value="Commenter">

								</form>
				{% else %}
								<p>
									Vous devez etre connectés pour commenter
								</p>
				{% endif %}
								 <br>
								 {% for comment in comments %}
									<blockquote>
									 	<p>
								  			  {{ comment.content|linebreaks }}
								  		</p>

									   <!--
									   <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
									   -->
									   <div class="container">
									 	<div class=" row">
									 	<div class="col">
										 	Par {{ comment.user }}
										 	<br>
											 	Il y a {{ comment.timestamp|timesince }} <br>
										</div>
										<div class="pull-rigth">
											<a href="{% url 'comments:delete' comment.id %}" style="color: blue">Modifier</a>|

									  		<a href="{% url 'comments:delete' comment.id %}" style="color: blue">Supprimer</a>
									  	</div>
								  		</div>
									   </div>
									 	<br>

									 	<div class="container">
									 	{% if comment.children.count > 0 %}
									 	{% if comment.children.count == 1 %} Une {% else %}
									 	{{ comment.children.count}} {% endif %} Réponse{% if comment.children.count > 1 %}s{% endif %} | | {% endif %}
									 	</div>

									 	{% for child_comment in comment.children %}
										 	<blockquote>
										 		<p>
										 			 {{ child_comment.content }}
										     	 </p>
										 		 <div>
										 			Par {{ child_comment.user }}
										 			| {{ child_comment.timestamp|timesince }}
										 		 </div>
									 		</blockquote>

								 		{% endfor %}

								 		{% if request.user.is_authenticated %}
									 		<a href="" class="toggle" style="color: blue"> <span class="glyphicon glyphicon-comment" ></span>Répondre</a>
									 		<form  method="POST" action="." class="form hide">
									 			{% csrf_token %}

									 			{{ form|crispy }}

									 			<input type="hidden" name="parent_id" value="{{ comment.id }}">
									 			<input type="submit" value="Répondre">
									 		 </form>
								 		{% else %}

								 			<p>Connectez-vous pour répondre aux commentaire</p>

								 		{% endif %}
								 	</blockquote>
								 	<br>
								 </div>
								{% endfor %}

							</div>
					</div>

	</div>
</div>
</div>


{% endblock content %}

	{% block js %}

    <script src="{% static 'js/form.js' %}"></script>


	{% endblock js %}
