{% extends "base_.html" %}
{% load static %}




{% block content %}
<div class="container">
	<section class="row">
		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t1.jpg' %}" alt="Tigre" class="img-rounded"></div>

		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t2.jpg' %}" alt="Tigre" class="img-rounded"></div>

		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t3.jpg' %}" alt="Tigre" class="img-rounded"></div>

		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t4.jpg' %}" alt="Tigre" class="img-rounded"></div>

		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t5.jpg' %}" alt="Tigre" class="img-rounded"></div>

		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t6.jpg' %}" alt="Tigre" class="img-rounded"></div>

		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t7.jpg' %} " alt="Tigre" class="img-rounded"></div>

		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t8.jpg' %}" alt="Tigre" class="img-rounded"></div>

		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t9.jpg' %}" alt="Tigre" class="img-rounded"></div>

		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t10.jpg' %}" alt="Tigre" class="img-rounded"></div>

		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t11.jpg' %}" alt="Tigre" class="img-rounded"></div>

		<div class="col-xs-4 col-sm-3 col-md-2"><img src="{% static 'images/galeries/t12.jpg' %}" alt="Tigre" class="img-rounded"></div>

		
	</section>


</div>


{% endblock content %}