/*-------------------------------------*\
                $Variables
                va
\* ---------------------------------*/

$columns : 12!default;
$gutter : 20px!default;


$x-small: 768px!default;
$small:  678px!default;
$medium: 992px!default;
$large: 1200px!default;

/*------------------------------------*\
                @Mixins
\* ---------------------------------*/
@mixin responsive-columns($suffix: ''){
	@for $i from 0 through $columns{
	    @if $i != 0 {
	       .col#{$suffix}-#{$i}{
	          width: $i / $columns * 100%;
	       }
	    }
        .col#{$suffix}-center{ margin : auto; float: none; }
	    .col#{$suffix}-push-#{$i}{ left : $i / $columns *100% ;}
	    .col#{$suffix}-offset-#{$i}{ margin-left: $i / $columns * 100%; }
	    .col#{$suffix}-pull-#{$i}{ left: $i / $columns * 100%; }
	}
}


/*------------------------------------*\
                @Extend
\* ---------------------------------*/
%col{
	float: left;
	position: relative;
	min-height: 1px;
	padding: 0 $gutter * 0.5;

	background-color: rgba(#000, 0.2);
	border : 1px solid rgba(#000, 0.5);
}

/*
%clearfix{
	&:before,
	&:after{
	content:"";
	display:table;
	}

	&:after{
	clear:both;
	}
	&{
	zoom:1;
	  For IE 6/7 (tigger hasLayout) 

		}
}
*/



/*------------------------------------*\
                $Class
\* ---------------------------------*/



.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.row{
	margin:0 $gutter * -0.5;
	@include clearfix;
}





/*------------------------------------*\
                $Grid
\* ---------------------------------*/



@for $i from 1 through $columns{
   .col-#{$i}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}{ @extend %col;}
}

.sm-show{ display : none}
.md-show{ display : none}
.lg-show{ display : none}

@include responsive-columns();



/*
@media (max-width: $x-small){

    @include responsive-columns('-xs');

    .sx-hide{ display: none;}
    .xs-show{display:block;}
    .sm-show{display: none;}
    .md-show{display:none;}
    .lg-show{display:none;}
	
}
*/



@media (min-width: $small){


    @include responsive-columns('-sm');

    .sm-hide{ display: none;}
    .sm-show{display: block;}
    .xs-show{display:none;}
    .md-show{display:none;}
    .lg-show{display:none;}
}

@media (min-width: $medium){

    @include responsive-columns('-md');

     .md-hide{ display: none;}
    .md-show{display:block;}
    .sm-show{display: none;}
    .xs-show{display:none;}
    .lg-show{display:none;}

    }

@media (min-width: $large){

    @include responsive-columns('-xs');

     .lg-hide{ display: none;}
    .lg-show{display:block;}
    .sm-show{display: none;}
    .xs-show{display:none;}
    .md-show{display:none;}
}


