/* line 3, plan_map.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2, _plan_map_.scss */
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
